{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="Alimentos.pe - ¡La bodega de tu barrio!">
    <meta name="keywords" content="Alimentos.pe, Tienda, Alimentos, Tienda online, bodega online, simple, online, comprar, shopping, descuentos, descuento, Alimentos, Comida, delivery, barato, económico, fresco">
	<meta name="viewport" content = "minimum-scale=1.0, width=device-width, initial-scale=1.0, user-scalable=no" >
	<meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Alimentos.pe</title>
	
	<!-- Css Styles -->
	<link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" type="text/css">
	<!--<link rel="stylesheet" href="{% static 'dashboard/css/chartist.css' %}" type="text/css">-->
	<link rel="stylesheet" href="{% static 'dashboard/css/Chart.css' %}" type="text/css"> <!-- NEEDED FOR DRAWING CHARTS -->
	<!--<link rel="stylesheet" href="{% static 'dashboard/css/morris.css' %}" type="text/css">-->
	<link rel="stylesheet" href="{% static 'dashboard/css/materialdesignicons.min.css' %}" type="text/css">
	<!--<link rel="stylesheet" href="{% static 'dashboard/css/c3.css' %}" type="text/css">-->
	<link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'main/css/slicknav.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css">
    	
	<!-- ICONS (i.e. in the browser tab)-->
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<!-- Icon/Tile for windows 8-->
	<meta name="application-name" content="Alimentos.pe">
</head>
<body>
    <!-- START ALERT MESSAGES SECTIONS-->
    {% include 'main/includes/messages.html' %}
    <!-- ENDS ALERT MESSAGES SECTIONS-->

    {% block content %}
    {% endblock %}    

	{% include 'dashboard/includes/footer.html' %}
</body>

</html>
