{% extends 'dashboard/header.html' %}
{% load static %}

{% block content %}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <!-- BOTTOM BAR-->
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>Más</span>
                    <ul class="depart-hover">
                        <li><a href="#">Mis datos</a></li>
                        <li><a href="#">Salir</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li class="active"><a href="/index">Tablero</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/pedidos">Pedidos</a></li>
                </ul>
            </nav>
            <!-- Mobile version-->
           <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->




<!-- Latest Blog Section End -->
<!-- Js Plugins -->
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'main/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'main/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'main/js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'main/js/jquery.dd.min.js' %}"></script>
<script src="{% static 'main/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
{% endblock %}
