{% extends 'main/header.html' %}
{% load static %}


{% block content %}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <!-- <a href="./index.html"> -->
                            <img src="{% static 'main/img/logo.png' %}" alt="">
                        <!-- </a> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="advanced-search">
                        <form action="#" class="input-group">
                            <input type="text" placeholder="Producto">
                            <button type="button"><i class="ti-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 text-right col-md-4">
                    <div class="row">
                        <!-- SHOP SELECTION BEGIN -->
                        <!-- SHOP SELECTION END -->

                        <!-- SHOPPING CART -->
                        <!-- SHOPPING CART -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BOTTOM BAR-->
    <div class="nav-item">
        <div class="container">
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/embutidos">Embutidos</a></li>
                    <li><a href="/vegetales">Vegetales</a>
                    <li><a href="/lacteos">Lácteos</a></li>
                    <li><a href="/abarrotes">Abarrotes</a></li>
                    <li><a href="/limpieza">Limpieza</a></li>
                    <li><a href="/licores">Licores</a>
                    </li>
                </ul>
            </nav>
            <!-- Mobile version-->
           <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        <form action="#" class="checkout-form">
            <div class="row">
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <a href="/login" class="content-btn">Inicie sesión</a>
                    </div>
                    <h4>Sus datos</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fir">Nombre<span>*</span></label>
                            <input type="text" id="fir" value="{{cliente.cl_first_name}}">
                        </div>
                        <div class="col-lg-6">
                            <label for="last">Apellido<span>*</span></label>
                            <input type="text" id="last" value="{{cliente.cl_last_name}}">
                        </div>
                        <div class="col-lg-12">
                            <label for="street">Dirección<span>*</span></label>
                            <input type="text" id="street" class="street-first" value="{{cliente.cl_address}}">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" id="geolocation" value="{{cliente.cl_geolocation}}">
                            <div id="mapid"></div>
                            <script>
                                var map = L.map('mapid').setView([ {{user_location.y}}, {{user_location.x}} ], 15);
                            
                                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                                }).addTo(map);
                            
                                const customMarkerIcon = L.AwesomeMarkers.icon({
                                    "extraClasses": "fa-rotate-0", 
                                    "icon": "shopping-cart", 
                                    "iconColor": "white", 
                                    "markerColor": "orange", 
                                    "prefix": "glyphicon"
                                });
                                
                                var marker;
                                map.on('click', function (e) {
                                    if (marker) { // check if marker already exists
                                        map.removeLayer(marker); // remove existing marker
                                    }
                                    marker = new L.marker(e.latlng, {draggable:'true'});
                                    marker.on('dragend', function(event){
                                        var marker = event.target;
                                        var position = marker.getLatLng();
                                        marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
                                        map.panTo(new L.LatLng(position.lat, position.lng))
                                    });
                                    map.addLayer(marker);
                                    // Get address with reverse geocoding
                                    const Http = new XMLHttpRequest();
                                    const url='https://reverse.geocoder.ls.hereapi.com/6.2/reversegeocode.json'+
                                            '?apiKey=BVDjzA8alE1JmhleAW9EQPOD261SOClD-DjbwCEos4U'+
                                            '&mode=retrieveAddresses'+
                                            '&prox='
                                            +e.latlng.lat+','+e.latlng.lng+',250';
                                    Http.open("GET", url);
                                    Http.send();
                                    Http.onreadystatechange = (e) => {
                                        var address_json = JSON.parse( Http.responseText );
                                        document.getElementById("street").value = String(address_json.Response.View[0].Result[0].Location.Address.Label);
                                    }
                                    document.getElementById("geolocation").value = 'SRID=4326;POINT ('+e.latlng.lng+' '+e.latlng.lat+')';
;
                                });
                                map.on('click', onMapClick);
                            </script>
                        </div>
                        <div class="col-lg-6">
                            <label for="email">Email<span>*</span></label>
                            <input type="text" id="email" value="{{cliente.cl_address}}">
                        </div>
                        <div class="col-lg-6">
                            <label for="phone">Teléfono<span>*</span></label>
                            <input type="text" id="phone" value="{{cliente.cl_phone}}">
                        </div>
                        <div class="col-lg-12">
                            <div class="create-item">
                                <label for="acc-create">
                                    Create an account?
                                    <input type="checkbox" id="acc-create">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="checkout-content">
                        <a href="/register" class="content-btn">Regístrese</a>
                    </div>

                    <!-- CHECKOUT CART SECTION BEGIN -->
                    <div class="place-order">
                        <h4>Su pedido</h4>
                        {% for bodega in bodegas_en_cesta %}
                            <div class="order-total">
                                <div class="row" style="background-color:#e7ab3c;color:#ffffff;text-transform:uppercase">
                                    <div class="col-12">
                                        <span>{{ bodega }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="order-table">
                                            <table class="fw-normal" border="4" bordercolor="#808080" frame="hsides" rules="rows" style="width:100%">
                                                <tr>
                                                    <th style="width:55%;text-align:Left">
                                                        Producto
                                                    </th>
                                                    <th style="width:15%;text-align:left">
                                                        P.u.
                                                    </th>
                                                    <th style="width:10%;text-align:center">
                                                        Cant.
                                                    </th>
                                                    <th style="width:20%;text-align:right">
                                                        Subtotal
                                                    </th>
                                                </tr>
                                                {% load humanize %}
                                                {% for product in cart_list %}
                                                    {% if product.ci_product.peb_bodega == bodega %}
                                                        <tr>
                                                            <th style="width:55%;text-align:Left">
                                                                {{product.ci_product.peb_product.pa_product}}
                                                            </td>
                                                            <td style="width:15%;text-align:left">
                                                                {% if product.ci_product.peb_discount_status == True %}{{product.ci_product.peb_discount_price|floatformat:2|intcomma}}{% endif %}
                                                                {% if product.ci_product.peb_discount_status == False %}{{product.ci_product.peb_regular_price|floatformat:2|intcomma}}{% endif %}
                                                            </td>
                                                            <td style="width:15%;text-align:center">
                                                                {{product.ci_quantity}}
                                                            </td>
                                                            <td style="width:20%;text-align:right">
                                                                <span>
                                                                    S/.
                                                                    <script type="text/javascript">
                                                                        var True = true, False = false;
                                                                        var p_quantity = {{ product.ci_quantity }};
                                                                        if ( {{product.ci_product.peb_discount_status}} === true ){
                                                                            var p_price = {{ product.ci_product.peb_discount_price }};
                                                                        } else {
                                                                            var p_price = {{ product.ci_product.peb_regular_price }};
                                                                        };
                                                                        document.write((p_price*p_quantity).toFixed(2));
                                                                    </script>
                                                                </span>
                                                            </td>
                                                            <td style="width:10%;text-align:right">
                                                                <form method='POST' action='{% url "main:remove_cart" %}'> {% csrf_token %}
                                                                    <td class="si-close">
                                                                        <input type="hidden" name='item_pk' value='{{product.pk}}'>
                                                                        <button type='submit'><i class="ti-close"></i></button>
                                                                    </td>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                <tr><th style="height:3px;"></th></tr> <!-- adding one extra line-->
                                                <tr>
                                                    <th style="width:70%;text-align:Left">
                                                        SUBTOTAL EN ESTA BODEGA
                                                    </th>
                                                    <th style="width:5%;text-align:center">
                                                    </th>
                                                    <th style="width:25%;text-align:right">
                                                        <span>
                                                            S/.
                                                            {% for key, value in subtotal_bodegas.items %}
                                                                {% if bodega.bd_ruc == key %}
                                                                {{value|floatformat:2|intcomma}}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </span>
                                                    </th>
                                                </tr>
                                            </table>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="order-total">
                            <ul class="order-table" style="color:#252525;font-size:16px;text-transform:uppercase;font-weight:1000">
                                Total <span>S/.{{cart_obj.crt_total_price|floatformat:2|intcomma}}</span>
                            </ul>
                        </div>
                        <div class="order-btn">
                            <button type="submit" class="site-btn place-btn">Comprar</button>
                        </div>
                    </div>
                    <!-- CHECKOUT CART SECTION END -->

                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shopping Cart Section End -->

<!-- BENEFICIOS -->
<section class="latest-blog spad">
    <div class="container">
        <div class="benefit-items">
            <div class="row">
                <div class="col-lg-4" align="center">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="{% static 'main/img/icon-1.png' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Envío económico</h6>
                            <p>Es la bodega de la cuadra.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" align="center">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="{% static 'main/img/icon-2.png' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Rápido envío</h6>
                            <p>El bodeguero es tu vecino.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" align="center">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="{% static 'main/img/icon-3.png' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>100% pago seguro</h6>
                            <p>En efectivo a <b>contraentrega.</b><br>Próximamente con tarjeta via web.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->
<!-- Js Plugins -->
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'main/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'main/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'main/js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'main/js/jquery.dd.min.js' %}"></script>
<script src="{% static 'main/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
<!-- Infinite scroll -->
<script src="{% static 'main/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'main/js/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>
{% endblock %}
