{% extends 'main/d-header.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<!-- Page Preloder -->
<!--
<div id="preloder">
    <div class="loader"></div>
</div>
-->
<!-- Header Section Begin -->
<header class="header-section">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link active" href="/dashboard">Tablero</a>
        <a class="nav-item nav-link" href="/dashboard/productos">Productos</a>
        <a class="nav-item nav-link" href="/dashboard/pedidos">Pedidos</a>
        <a class="nav-item nav-link" href="/dashboard/mibodega">Mi bodega</a>
        <a class="nav-item nav-link" href="../logout">Salir</a>
    </nav>
</header>
<!-- Header End -->

<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Hola {{ cliente.cl_first_name }} {{ cliente.cl_last_name }}. Bienvenido a tu bodega {{ bodega.bd_name }}</h2>
                            <p class="pageheader-text">
                                Mi tablero en Alimentos.pe
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="ecommerce-widget">
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- sales metrics  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Venta del día</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1" style="text-align:right; font-size:40px;">S/.{{ BodegaDashboard_obj.bd_daily_sales|floatformat:2|intcomma }}</h2>
                                    </div>
                                    {% if BodegaDashboard_obj.bd_daily_change_sales >= 0 %}
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span><i class="fa fa-fw fa-arrow-up"></i></span>
                                            <span>{{ BodegaDashboard_obj.bd_daily_change_sales|floatformat:2|intcomma }}%</span>
                                        </div>
                                    {% else %}
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span><i class="fa fa-fw fa-arrow-down"></i></span>
                                            <span>{{ BodegaDashboard_obj.bd_daily_change_sales|floatformat:2|intcomma }}%</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="text-muted">Venta de ayer</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1" style="text-align:right;font-size:40px;">S/.{{ BodegaDashboard_obj.bd_last_day_sales|floatformat:2|intcomma }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Venta de la semana</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1" style="text-align:right; font-size:40px;">S/.{{ BodegaDashboard_obj.bd_weekly_sales|floatformat:2|intcomma }}</h2>
                                    </div>
                                    {% if BodegaDashboard_obj.bd_weekly_change_sales >= 0 %}
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span><i class="fa fa-fw fa-arrow-up"></i></span>
                                            <span>{{ BodegaDashboard_obj.bd_weekly_change_sales|floatformat:2|intcomma }}%</span>
                                        </div>
                                    {% else %}
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span><i class="fa fa-fw fa-arrow-down"></i></span>
                                            <span>{{ BodegaDashboard_obj.bd_weekly_change_sales|floatformat:2|intcomma }}%</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="text-muted">Venta de la semana pasada</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1" style="text-align:right; font-size:40px;">S/.{{ BodegaDashboard_obj.bd_last_week_sales|floatformat:2|intcomma }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Venta del mes</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1" style="text-align:right; font-size:40px;">S/.{{ BodegaDashboard_obj.bd_monthly_sales|floatformat:2|intcomma }}</h2>
                                    </div>
                                    {% if BodegaDashboard_obj.bd_monthly_change_sales >= 0 %}
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span><i class="fa fa-fw fa-arrow-up"></i></span>
                                            <span>{{ BodegaDashboard_obj.bd_monthly_change_sales|floatformat:2|intcomma }}%</span>
                                        </div>
                                    {% else %}
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span><i class="fa fa-fw fa-arrow-down"></i></span>
                                            <span>{{ BodegaDashboard_obj.bd_monthly_change_sales|floatformat:2|intcomma }}%</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="text-muted">Venta del mes pasado</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1" style="text-align:right; font-size:40px;">S/.{{ BodegaDashboard_obj.bd_last_month_sales|floatformat:2|intcomma }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end sales metrics  -->
                        <!-- ============================================================== -->
                    </div>
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- most sold products  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Productos más vendidos en los últimos 30 días</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">#</th>
                                                    <th class="border-0">Imagen</th>
                                                    <th class="border-0">Producto</th>
                                                    <th class="border-0">Cantidad</th>
                                                    <th class="border-0">Total vendido</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for product in top10_products %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>
                                                        <div class="m-r-10">
                                                            {% if product.peb_product.pa_image %}
                                                                <img src="{{product.peb_product.pa_image.url}}" alt="IMG" class="rounded" width="45">
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>{{ product.1.1 }}</td>
                                                    <td>{{ product.1.0 }}</td>
                                                    <td>S/.{{ product.1.2|floatformat:2|intcomma }}</td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td colspan="9"><a class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#verTodos">Ver todos</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end most sold products  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Modal  -->
                        <!-- ============================================================== -->
                        <div class="modal fade" id="verTodos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="text-align:center;">Todos los productos más vendidos en los últimos 30 días</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">#</th>
                                                <th class="border-0">Imagen</th>
                                                <th class="border-0">Producto</th>
                                                <th class="border-0">Cantidad</th>
                                                <th class="border-0">Ventas por producto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product in most_sold_products %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    <div class="m-r-10"><img src="" alt="user" class="rounded" width="45"></div>
                                                </td>
                                                <td>{{ product.1.1 }}</td>
                                                <td>{{ product.1.0 }}</td>
                                                <td>S/.{{ product.1.2|floatformat:2|intcomma }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end Modal  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- product sales distribution -->
                        <!-- ============================================================== -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Ventas por producto en los últimos 30 días</h5>
                                <div class="card-body">
                                    <canvas id="myPieChart" width="400" height="400"></canvas>
                                    <script type="text/javascript">
                                        var series_most_sold_products = [];
                                        var labels_most_sold_products = [];
                                        var labels_backgroundColors = [];
                                        var sales_volumen_last_30 = 0;
                                        // Random rgba color function
                                        const randomNumber = (min, max) => Math.floor(Math.random() * (max - min + 1) + min);
                                        const randomByte = () => randomNumber(0, 255)
                                        const randomPercent = () => (randomNumber(50, 100) * 0.01).toFixed(2)
                                        const randomCssRgba = () => `rgba(${[randomByte(), randomByte(), randomByte(), randomPercent()].join(',')})`
                                        // Append all most sold items in the last 30 days
                                        {% for product in most_sold_products %}
                                            series_most_sold_products.push( "{{ product.1.2 }}" );
                                            labels_most_sold_products.push( "{{ product.1.1 }}" );
                                            sales_volumen_last_30 += parseFloat({{ product.1.2 }});
                                            var coloring = randomCssRgba();
                                            labels_backgroundColors.push( coloring );
                                        {% endfor %}
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end product sales distribution -->
                        <!-- ============================================================== -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>

<!-- Latest Blog Section End -->
<!-- Js Plugins -->
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'main/js/main-js.js' %}"></script>
<script src="{% static 'main/js/Chart.bundle.min.js' %}"></script> <!-- NEEDED FOR DRAWING CHARTS -->
<script src="{% static 'main/js/Chart.js' %}"></script> <!-- NEEDED FOR DRAWING CHARTS -->
<script src="{% static 'main/js/jquery.slicknav.js' %}"></script> <!-- NEEDED FOR MOBILE NAVIGATION HEADER -->
<script src="{% static 'main/js/dashboard-ecommerce.js' %}"></script> <!-- NEEDED FOR CURRENT SITE RENDERING -->
<script src="{% static 'main/js/dmain.js' %}"></script>
{% endblock %}
