{% extends 'main/d-header.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<!-- Page Preloder -->
<!--
<div id="preloder">
    <div class="loader"></div>
</div>
-->
<!-- Header Section Begin -->
<header class="header-section">
    <!-- BOTTOM BAR-->
    <div class="nav-item">
        <div class="container">
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li><a href="/dashboard">Tablero</a></li>
                    <li><a href="/dashboard/productos">Productos</a></li>
                    <li><a href="/dashboard/pedidos">Pedidos</a>
                    <li class="active"><a href="/dashboard/mibodega">Mi bodega</a></li>
                    <li><a href="../logout">Salir</a></li>
                    </li>
                </ul>
            </nav>
            <!-- Mobile version-->
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->

<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Hola {{ cliente.cl_first_name }} {{ cliente.cl_last_name }}. Bienvenido a tu bodega {{ bodega.bd_name }}</h2>
                            <p class="pageheader-text">
                                Mi bodega en Alimentos.pe
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="ecommerce-widget">
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- productos en bodega  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Mis datos y los de mi bodega</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                            </thead>
                                            <tbody>
                                                <form id="mibodega_update" action="">
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Usuario</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" value="{{ cliente.cl_user }}" disabled>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Nombre</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="cl_first_name" value="{{ cliente.cl_first_name }}">
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Apellido</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="cl_last_name" value="{{ cliente.cl_last_name }}">
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">¿Está activa tu bodega?</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            {% if bodega.bd_is_active == True %}
                                                                <input type="checkbox" name="discount_status" id="bd_is_active" class="form-check-input" checked>
                                                                <p id="bodega_is_active" style="font-weight: bold;"><span class="badge-dot badge-success mr-1"></span>Sí</p>
                                                            {% else %}
                                                                <input type="checkbox" name="discount_status" id="bd_is_active" class="form-check-input">
                                                                <p id="bodega_is_active" style="font-weight: bold;"><span class="badge-dot badge-danger mr-1"></span>No</p>
                                                            {% endif %}
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Nombre de bodega</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_name" value="{{ bodega.bd_name }}" required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">RUC o DNI</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_ruc" value="{{ bodega.bd_ruc }}" disabled required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Razón social</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_raz_soc" value="{{ bodega.bd_raz_soc }}">
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">E-mail</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_email" value="{{ bodega.bd_email }}" required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Teléfono</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_phone" value="{{ bodega.bd_phone }}" required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Ubica tu bodega</th>
                                                        <th class="border-0" style="text-align:right;"><input type="text" class="form-control" id="bd_geolocation" value="{{ bodega.bd_geolocation }}"></th>
                                                    </tr>
                                                </form>
                                            </tbody>
                                        </table>
                                        <div id="mapid"></div>
                                        <br>
                                        <td colspan="9"><button type="button" class="btn btn-outline-primary float-right" onclick="save_mibodega_changes(); return false;">Guardar</button></td>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end productos en bodega  -->
                        <!-- ============================================================== -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
<script type = "text/javascript">
    // Initializes map
    var map = L.map('mapid').setView([ -12.046374, -77.0427934 ], 14);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    //var marker = L.marker([-12.046374, -77.0427934]);
    //map.addLayer(marker);

    const customMarkerIcon = L.AwesomeMarkers.icon({
        "extraClasses": "fa-rotate-0", 
        "icon": "shopping-cart", 
        "iconColor": "white", 
        "markerColor": "orange", 
        "prefix": "glyphicon"
    });
    var marker;

    function onMapClick(e) {
        if (marker != undefined) {
            map.removeLayer(marker);
        };
        marker = new L.marker(e.latlng).addTo(map);
        document.getElementById("bd_geolocation").value = marker;
        console.log(marker);
        console.log(marker._latlng);
        console.log(marker._latlng.lat);
        console.log(marker._latlng.lng);
    }
    map.on('click', onMapClick);

    // Get geolocation on page load
    getLocation();
    // Get user geolocation
    function showLocation(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        map.panTo(new L.LatLng(latitude, longitude));
    }
    function errorHandler(err) {
        if(err.code == 1) {
        alert("Error: Access is denied!");
        } else if( err.code == 2) {
        alert("Error: Position is unavailable!");
        }
    }
    function getLocation() {
        if(navigator.geolocation) {
        // timeout at 60000 milliseconds (60 seconds)
        var options = {timeout:60000};
        navigator.geolocation.getCurrentPosition(showLocation, errorHandler, options);
        } else {
        alert("Sorry, browser does not support geolocation!");
        }
    }
</script>
<script type="text/javascript">
    function save_mibodega_changes() {
        if ($("#mibodega_update").validate().form()) {
            cl_first_name = document.getElementById("cl_first_name").value;
            cl_last_name = document.getElementById("cl_last_name").value;
            bd_is_active = document.getElementById("bd_is_active").checked;
            bd_name = document.getElementById("bd_name").value;
            bd_ruc = document.getElementById("bd_ruc").value;
            bd_raz_soc = document.getElementById("bd_raz_soc").value;
            bd_email = document.getElementById("bd_email").value;
            bd_phone = document.getElementById("bd_phone").value;
            $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: "/dashboard/mibodega",
                type: "POST",
                dataType: "json",
                data: {
                    "cl_first_name": cl_first_name,
                    "cl_last_name": cl_last_name,
                    "bd_is_active": bd_is_active,
                    "bd_name": bd_name,
                    "bd_ruc": bd_ruc,
                    "bd_raz_soc": bd_raz_soc,
                    "bd_email": bd_email,
                    "bd_phone": bd_phone
                },
                success: function(){
                    ;
                }
            });
        } else {
            alert("Verifique los datos ingresados");
        };
    };
</script>
<!-- Latest Blog Section End -->
<!-- Js Plugins -->
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script> <!-- NEEDED FOR JQUERY -->
<script src="{% static 'main/js/jquery.validate.min.js' %}"></script> <!-- NEEDED FOR VALIDATING FORMS -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'main/js/main-js.js' %}"></script>
<script src="{% static 'main/js/jquery.slicknav.js' %}"></script> <!-- NEEDED FOR MOBILE NAVIGATION HEADER -->
<script src="{% static 'main/js/main.js' %}"></script>
{% endblock %}
