{% extends 'main/d-header.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<!-- Page Preloder -->
<!--
<div id="preloder">
    <div class="loader"></div>
</div>
-->
<!-- Header Section Begin -->
<header class="header-section">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" style="font-weight: bold;color: black; background: #feb100;border-radius: 0rem;place-content: center;" href="/dashboard">Tablero</a>
        <a class="nav-item nav-link" style="font-weight: bold;color: black; background: #feb100;border-radius: 0rem;place-content: center;" href="/dashboard/productos">Productos</a>
        <a class="nav-item nav-link" style="font-weight: bold;color: black; background: #feb100;border-radius: 0rem;place-content: center;" href="/dashboard/pedidos">Pedidos</a>
        <a class="nav-item nav-link active" href="/dashboard/mibodega">Mi bodega</a>
        <a class="nav-item nav-link" style="font-weight: bold;color: black; background: #feb100;border-radius: 0rem;place-content: center;" href="../">Alimentos.pe</a>
        <a class="nav-item nav-link" style="font-weight: bold;color: black; background: #feb100;border-radius: 0rem;place-content: center;" href="../logout">Salir</a>
    </nav>
</header>
<!-- Header End -->

<!-- STYLE CORRECTION TO SHOW RADIO BUTTONS -->
<style>
    input[type="radio"] {
        display: inline-flex;
    }
</style>
<!-- STYLE CORRECTION TO SHOW RADIO BUTTONS -->

<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Hola {{ cliente.cl_first_name }} {{ cliente.cl_last_name }}.<br>Bienvenido a tu bodega {{ bodega.bd_name }}</h2>
                            <p class="pageheader-text">
                                Mi bodega en Alimentos.pe
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="ecommerce-widget">
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- Form MiBodega  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Mis datos y los de mi bodega</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light" style="background-color: white;">
                                                <th style="width:40%;padding:0;"></th>
                                                <th style="width:60%;padding:0;"></th>
                                            </thead>
                                            <tbody>
                                                <form id="mibodega_update" action="">
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Usuario</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" value="{{ cliente.cl_user }}" disabled>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Nombre</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="cl_first_name" value="{{ cliente.cl_first_name }}">
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Apellido</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="cl_last_name" value="{{ cliente.cl_last_name }}">
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">¿Está activa tu bodega?</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            {% if bodega.bd_is_active == True %}
                                                                <!--<input type="checkbox" name="discount_status" id="bd_is_active" class="form-check-input" checked onclick="bd_activity(this)">-->
                                                                <input type="checkbox" id="bd_is_active" class="form-check-input" checked disabled>
                                                                <p id="bodega_is_active" style="font-weight: bold;"><span class="badge-dot badge-success mr-1"></span>Sí</p>
                                                            {% else %}
                                                                <!--<input type="checkbox" name="discount_status" id="bd_is_active" class="form-check-input" onclick="bd_activity(this)">-->
                                                                <input type="checkbox" id="bd_is_active" class="form-check-input" disabled>
                                                                <p id="bodega_is_active" style="font-weight: bold;"><span class="badge-dot badge-danger mr-1"></span>No</p>
                                                            {% endif %}
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Nombre de bodega</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_name" value="{{ bodega.bd_name }}" required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">RUC o DNI</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_ruc" value="{{ bodega.bd_ruc }}" disabled required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Razón social</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_raz_soc" value="{{ bodega.bd_raz_soc }}">
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">E-mail</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_email" value="{{ bodega.bd_email }}" required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Teléfono</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_phone" value="{{ bodega.bd_phone }}" required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">¿Hace delivery?</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            {% if bodega.bd_delivery == True %}
                                                                <input type="checkbox" id="bd_delivery" class="form-check-input" checked onclick="bd_delivery_f(this)">
                                                                <p id="bodega_delivery" style="font-weight: bold;"><span class="badge-dot badge-success mr-1"></span>Sí</p>
                                                            {% else %}
                                                                <input type="checkbox" id="bd_delivery" class="form-check-input" onclick="bd_delivery_f(this)">
                                                                <p id="bodega_delivery" style="font-weight: bold;"><span class="badge-dot badge-danger mr-1"></span>No</p>
                                                            {% endif %}
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">¿Cuánto cuesta el delivery?(S/.)</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="number" step="0.01" id="bd_delivery_cost" class="form-control" min="0" pattern="^[0-9\.]{1,}$" value="{{ bodega.bd_delivery_cost|floatformat:2|intcomma }}" required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">¿Es gratis el delivery a partir de cierto monto?</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            {% if bodega.bd_delivery_type == False %}
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="group1" id="bd_delivery_type_1" value="option1" checked onclick="bd_delivery_type_f(this)"/>
                                                                    <label class="form-check-label" for="bd_delivery_type_1">No, el delivery siempre cuesta lo mismo.</label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="group1" id="bd_delivery_type_2" value="option1" onclick="bd_delivery_type_f(this)"/>
                                                                    <label class="form-check-label" for="bd_delivery_type_2">Sí, el delivery es gratis después de cierto monto.</label>
                                                                </div>
                                                            {% else %}
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="group1" id="bd_delivery_type_1" value="option1" onclick="bd_delivery_type_f(this)"/>
                                                                    <label class="form-check-label" for="bd_delivery_type_1">No, el delivery siempre cuesta lo mismo.</label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="group1" id="bd_delivery_type_2" value="option1" checked onclick="bd_delivery_type_f(this)"/>
                                                                    <label class="form-check-label" for="bd_delivery_type_2">Sí, el delivery es gratis después de cierto monto.</label>
                                                                </div>
                                                            {% endif %}
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">¿A partir de qué monto el delivery es gratis?(S/.)</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="number" step="0.01" id="bd_delivery_free_starting_on" class="form-control" min="0" pattern="^[0-9\.]{1,}$" value="{{ bodega.bd_delivery_free_starting_on|floatformat:2|intcomma }}" required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Tiempo de entrega</th>
                                                        <th class="border-0" style="text-align:left;">
                                                            <input type="text" class="form-control" id="bd_delivery_conditions" value="{{ bodega.bd_delivery_conditions }}" placeholder="¿Qué debe saber el cliente antes de comprarte?" required>
                                                        </th>
                                                    </tr>
                                                    <tr class="border-0">
                                                        <th class="border-0" style="text-align:right;">Ubica tu bodega en el mapa.</th>
                                                        <th class="border-0" style="text-align:left;"><!--Búscala y haz click.-->
                                                            <a class="btn" onclick="getCurrentLocation()" name="myshop_btn" id="myshop_btn" style="padding:0px 10px 0px 10px;background-color:#feb100;">
                                                                <!--<i class="material-icons" style="Margin:-10px 0px 0px 0px;color:black;">gps_fixed</i>-->
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>
                                                            </a>
                                                            <input type="hidden" class="form-control" id="bd_geolocation_lat" value="{{ bodega.bd_geolocation.y }}">
                                                            <input type="hidden" class="form-control" id="bd_geolocation_lng" value="{{ bodega.bd_geolocation.x }}">
                                                        </th>
                                                    </tr>
                                                </form>
                                            </tbody>
                                        </table>
                                        <div id="mapid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end Form MiBodega  -->
                        <!-- ============================================================== -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
<script type = "text/javascript">
    // Initializes map
    var marker;
    if (("{{ bodega.bd_geolocation.x }}" != "") && ("{{ bodega.bd_geolocation.y }}" != "")) {
        var map = L.map('mapid').setView([ "{{ bodega.bd_geolocation.y }}", "{{ bodega.bd_geolocation.x }}" ], 14);
        marker = new L.marker(["{{ bodega.bd_geolocation.y }}", "{{ bodega.bd_geolocation.x }}"], {draggable:'true'})
        .on('dragend', function(event){
                document.getElementById("bd_geolocation_lat").value = event.target._latlng.lat;
                document.getElementById("bd_geolocation_lng").value = event.target._latlng.lng;
                save_mibodega_changes();
            });
        map.addLayer(marker);
    } else {
        var map = L.map('mapid').setView([ -12.046374, -77.0427934 ], 14);
        getLocation();
    }
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    const customMarkerIcon = L.AwesomeMarkers.icon({
        "icon": "fa-shopping-basket",
        "prefix": "fa",
        "markerColor": "orange",
        "iconColor": "white",
        "extraClasses": "fa-rotate-0"
    });
    
    function onMapClick(e) {
        if (marker != undefined) {
            map.removeLayer(marker);
        };
        marker = new L.marker(e.latlng, {draggable:'true'})
        .on('dragend', function(event){
                document.getElementById("bd_geolocation_lat").value = event.target._latlng.lat;
                document.getElementById("bd_geolocation_lng").value = event.target._latlng.lng;
                save_mibodega_changes();
            }).addTo(map);
        document.getElementById("bd_geolocation_lat").value = marker._latlng.lat;
        document.getElementById("bd_geolocation_lng").value = marker._latlng.lng;
        save_mibodega_changes();
    }
    map.on('click', onMapClick);

    // Get user geolocation
    function showLocation(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        map.panTo(new L.LatLng(latitude, longitude));
    }
    function errorHandler(err) {
        if(err.code == 1) {
        alert("Error: Access is denied!");
        } else if( err.code == 2) {
        alert("Error: Position is unavailable!");
        }
    }
    function getLocation() {
        if(navigator.geolocation) {
        // timeout at 60000 milliseconds (60 seconds)
        var options = {timeout:60000};
        navigator.geolocation.getCurrentPosition(showLocation, errorHandler, options);
        } else {
        alert("Sorry, browser does not support geolocation!");
        }
    }
    // Request user current location
    function getCurrentLocation() {
        if(navigator.geolocation) {
            // timeout at 60000 milliseconds (60 seconds)
            var options = {timeout:60000};
            navigator.geolocation.getCurrentPosition(showCurrentLocation, errorHandler, options);
        } else {
            alert("Sorry, browser does not support geolocation!");
        }
    };
    // Permission granted. Get user location
    function showCurrentLocation(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        document.getElementById("bd_geolocation_lat").value = latitude;
        document.getElementById("bd_geolocation_lng").value = longitude;
        //map.invalidateSize();
        map.panTo(new L.LatLng(latitude, longitude));
        // Make a marker in current user's location
        if (marker != undefined) {
            map.removeLayer(marker);
        };
        marker = new L.marker([ latitude, longitude ], {draggable:'true'})
            .on('dragend', function(event){
                document.getElementById("bd_geolocation_lat").value = event.target._latlng.lat;
                document.getElementById("bd_geolocation_lng").value = event.target._latlng.lng;
                save_mibodega_changes();
            }).addTo(map);
        map.addLayer(marker);
        save_mibodega_changes();
    }
    function bd_activity(input) {
        if(input.checked == true) {
            $("#bodega_is_active").html('');
            $("#bodega_is_active").append('<p id="bodega_is_active" style="font-weight: bold;"><span class="badge-dot badge-success mr-1"></span>Sí</p>');
        } else {
            $("#bodega_is_active").html('');
            $("#bodega_is_active").append('<p id="bodega_is_active" style="font-weight: bold;"><span class="badge-dot badge-danger mr-1"></span>No</p>');
        }
        save_mibodega_changes();
    }
    function bd_delivery_f(input) {
        if(input.checked == true) {
            $("#bodega_delivery").html('');
            $("#bodega_delivery").append('<p id="bodega_delivery" style="font-weight: bold;"><span class="badge-dot badge-success mr-1"></span>Sí</p>');
        } else {
            $("#bodega_delivery").html('');
            $("#bodega_delivery").append('<p id="bodega_delivery" style="font-weight: bold;"><span class="badge-dot badge-danger mr-1"></span>No</p>');
        }
        save_mibodega_changes();
    }
    function bd_delivery_type_f(input) {
        save_mibodega_changes();
    }
</script>
<script type="text/javascript">
    // Listener of input type text chages
    const txtInputs = document.querySelectorAll('input[type=text]');
    txtInputs.forEach(function(input) {
        input.addEventListener('change', function(e) {
            save_mibodega_changes();
        })
    });
    // Listener of input type number chages
    const numInputs = document.querySelectorAll('input[type=number]');
    numInputs.forEach(function(input) {
        input.addEventListener('change', function(e) {
            save_mibodega_changes();
        })
    });
    // Save changes function
    function save_mibodega_changes() {
        if ($("#mibodega_update").validate().form()) {
            cl_first_name = document.getElementById("cl_first_name").value;
            cl_last_name = document.getElementById("cl_last_name").value;
            bd_is_active = document.getElementById("bd_is_active").checked;
            bd_name = document.getElementById("bd_name").value;
            bd_ruc = document.getElementById("bd_ruc").value;
            bd_raz_soc = document.getElementById("bd_raz_soc").value;
            bd_email = document.getElementById("bd_email").value;
            bd_phone = document.getElementById("bd_phone").value;
            bd_delivery = document.getElementById("bd_delivery").checked;
            bd_delivery_type_1 = document.getElementById("bd_delivery_type_1").checked;
            bd_delivery_type_2 = document.getElementById("bd_delivery_type_2").checked;
            if (bd_delivery_type_1 == true && bd_delivery_type_2 == false) {bd_delivery_type = true} else {bd_delivery_type = false}
            bd_delivery_cost = document.getElementById("bd_delivery_cost").value;
            bd_delivery_free_starting_on = document.getElementById("bd_delivery_free_starting_on").value;
            bd_delivery_conditions = document.getElementById("bd_delivery_conditions").value;
            bd_geolocation_lat = document.getElementById("bd_geolocation_lat").value;
            bd_geolocation_lng = document.getElementById("bd_geolocation_lng").value;
            $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: "/dashboard/mibodega",
                type: "POST",
                dataType: "json",
                data: {
                    "cl_first_name": cl_first_name,
                    "cl_last_name": cl_last_name,
                    "bd_is_active": bd_is_active,
                    "bd_name": bd_name,
                    "bd_ruc": bd_ruc,
                    "bd_raz_soc": bd_raz_soc,
                    "bd_email": bd_email,
                    "bd_phone": bd_phone,
                    "bd_delivery": bd_delivery,
                    "bd_delivery_type": bd_delivery_type,
                    "bd_delivery_cost": bd_delivery_cost,
                    "bd_delivery_free_starting_on": bd_delivery_free_starting_on,
                    "bd_delivery_conditions": bd_delivery_conditions,
                    "bd_geolocation_lat": bd_geolocation_lat,
                    "bd_geolocation_lng": bd_geolocation_lng
                },
                success: function(){
                    ;
                }
            });
        } else {
            alert("Verifique los datos ingresados");
        };
    };
</script>
<!-- Latest Blog Section End -->
<!-- Js Plugins -->
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script> <!-- NEEDED FOR JQUERY -->
<script src="{% static 'main/js/jquery.validate.min.js' %}"></script> <!-- NEEDED FOR VALIDATING FORMS -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
{% endblock %}
