{% extends 'main/d-header.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<!-- Page Preloder -->
<!--
<div id="preloder">
    <div class="loader"></div>
</div>
-->
<!-- Header Section Begin -->
<header class="header-section">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/dashboard">Tablero</a>
        <a class="nav-item nav-link" href="/dashboard/productos">Productos</a>
        <a class="nav-item nav-link active" href="/dashboard/pedidos">Pedidos</a>
        <a class="nav-item nav-link" href="/dashboard/mibodega">Mi bodega</a>
        <a class="nav-item nav-link" href="../logout">Salir</a>
    </nav>
</header>
<!-- Header End -->

<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Hola {{ cliente.cl_first_name }} {{ cliente.cl_last_name }}.<br>Bienvenido a tu bodega {{ bodega.bd_name }}</h2>
                            <p class="pageheader-text">
                                Mis productos en Alimentos.pe
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <h1>Página en construcción</h1>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
<script>
</script>

<!-- Latest Blog Section End -->
<!-- Js Plugins -->
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script> <!-- NEEDED FOR JQUERY -->
<script src="{% static 'main/js/jquery.validate.min.js' %}"></script> <!-- NEEDED FOR VALIDATING FORMS -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!--<script src="{% static 'main/js/jquery.slimscroll.js' %}"></script>-->
<!--<script src="{% static 'main/js/main-js.js' %}"></script>-->
<!--<script src="{% static 'main/js/Chart.bundle.min.js' %}"></script>--> <!-- NEEDED FOR DRAWING CHARTS -->
<!--<script src="{% static 'main/js/Chart.js' %}"></script>--> <!-- NEEDED FOR DRAWING CHARTS -->
<!--<script src="{% static 'main/js/jquery.slicknav.js' %}"></script>--> <!-- NEEDED FOR MOBILE NAVIGATION HEADER -->
<!--<script src="{% static 'main/js/dashboard-ecommerce.js' %}"></script>--> <!-- NEEDED FOR CURRENT SITE RENDERING -->
<!--<script src="{% static 'main/js/main.js' %}"></script>-->
<!--<script src="{% static 'main/js/dasboard_product.js' %}"></script>-->
{% endblock %}
