{% extends 'main/d-header.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<!-- Page Preloder -->
<!--
<div id="preloder">
    <div class="loader"></div>
</div>
-->
<!-- Header Section Begin -->
<header class="header-section">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" style="background: white;" href="/dashboard">Tablero</a>
        <a class="nav-item nav-link active" href="/dashboard/productos">Productos</a>
        <a class="nav-item nav-link" style="background: white;" href="/dashboard/pedidos">Pedidos</a>
        <a class="nav-item nav-link" style="background: white;" href="/dashboard/mibodega">Mi bodega</a>
        <a class="nav-item nav-link" style="background: white;" href="../logout">Salir</a>
    </nav>
</header>
<!-- Header End -->

<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Hola {{ cliente.cl_first_name }} {{ cliente.cl_last_name }}.<br>Bienvenido a tu bodega {{ bodega.bd_name }}</h2>
                            <p class="pageheader-text">
                                Mis productos en Alimentos.pe
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="ecommerce-widget">
                    <div class="row">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td colspan="9"><a class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#add_product_modal">+Añadir producto</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- ============================================================== -->
                        <!-- Modal add product -->
                        <!-- ============================================================== -->
                        <div class="modal fade" id="add_product_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle" style="text-align:center;">Añadir producto</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-field" style="position: relative; box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);border-bottom: 2px solid #00bbec;">
                                            <input id="search-box" type="text" onkeyup="search_missing_product()" placeholder="Escriba aquí el producto que quiere buscar" style="width: 100%; box-sizing: border-box;"/>
                                        </div>
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">Añadir</th>
                                                    <th class="border-0">Imagen</th>
                                                    <th class="border-0">Producto</th>
                                                    <!--<th class="border-0">Categoría</th>-->
                                                    <th class="border-0">Marca</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <form id="products_to_add" action="">
                                                {% for product_faltante in ProductosAprobados_missing %}
                                                <tr>
                                                    <td><input type="checkbox" name="item_to_add" id="{{ product_faltante.pa_ID }}" class="form-check-input"></td>
                                                    <td>
                                                        <div class="m-r-10">
                                                            {% if product_faltante.pa_image %}
                                                                <img src="{{product_faltante.pa_image.url}}" alt="IMG" class="rounded" width="45">
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>{{ product_faltante.pa_product }}</td>
                                                    <!--<td>{{ product_faltante.pa_category }}</td>-->
                                                    <td>{{ product_faltante.pa_brand }}</td>
                                                </tr>
                                                {% endfor %}
                                                </form>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary float-right" data-dismiss="modal" onclick="add_new_products(); return false;">+Añadir producto</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end modal add product -->
                        <!-- ============================================================== -->
                    </div>
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- productos en bodega  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Todos los productos en mi bodega</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">Imágen</th>
                                                    <th class="border-0">Producto</th>
                                                    <!--<th class="border-0">Categoria</th>
                                                    <th class="border-0">Marca</th>-->
                                                    <th class="border-0" style="min-width:90px">Precio regular</th>
                                                    <th class="border-0">¿Disponible?</th>
                                                    <th class="border-0">¿Vender con descuento?</th>
                                                    <th class="border-0" style="min-width:90px">Precio con descuento</th>
                                                    <th class="border-0">Descuento</th>
                                                    <th class="border-0">¿Eliminar?</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <form id="products_to_update" action="">
                                                {% for product in ProductosEnBodega_list %}
                                                <tr name="product_row" id="{{ product.peb_ID }}">
                                                    <td>
                                                        <div class="m-r-10">
                                                            {% if product.peb_product.pa_image %}
                                                                <img src="{{product.peb_product.pa_image.url}}" alt="IMG" class="rounded" width="45">
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td><a id="{{ product.peb_product.pa_ID }}" style="text-decoration:underline;" onclick="see_sales_detail(this); return false;">{{ product.peb_product.pa_product }}</a></td>
                                                    <!--<td>{{ product.peb_product.pa_category }}</td>
                                                    <td>{{ product.peb_product.pa_brand }}</td>-->
                                                    <td style="min-width:90px">
                                                        <input type="number" step="0.01" name="regular_price" id="{{ product.peb_ID }}" class="form-control" min="0" pattern="^[0-9\.]{1,}$" value="{{ product.peb_regular_price|floatformat:2|intcomma }}" required>
                                                    </td>
                                                    <td>
                                                        {% if product.peb_status == True %}
                                                            <input type="checkbox" name="peb_status" id="{{ product.peb_ID }}" class="form-check-input" checked style="position:relative;" onclick="peb_status_change(this)"/>
                                                            <span class="badge-dot badge-success mr-1"></span>Sí
                                                        {% else %}
                                                            <input type="checkbox" name="peb_status" id="{{ product.peb_ID }}" class="form-check-input" style="position:relative;" onclick="peb_status_change(this)"/>
                                                            <span class="badge-dot badge-danger mr-1"></span>No
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if product.peb_discount_status == True %}
                                                            <input type="checkbox" name="discount_status" id="{{ product.peb_ID }}" class="form-check-input" checked style="position:relative;" onclick="discount_status_change(this)"/>
                                                            <span class="badge-dot badge-success mr-1"></span>Sí
                                                        {% else %}
                                                            <!--<input type="checkbox" name="discount_status" id="{{ product.peb_ID }}" class="form-check-input" style="padding:0px;"/>-->
                                                            <input type="checkbox" name="discount_status" id="{{ product.peb_ID }}" class="form-check-input" style="position:relative;" onclick="discount_status_change(this)"/>
                                                            <span class="badge-dot badge-danger mr-1"></span>No
                                                        {% endif %}
                                                    </td>
                                                    <td style="min-width:90px">
                                                        <input type="number" step="0.01"  name="discount_price" id="{{ product.peb_ID }}" class="form-control" min="0" pattern="^[0-9\.]{1,}$" value="{{ product.peb_discount_price|floatformat:2|intcomma }}" required>
                                                    </td>
                                                    <td>{{ product.peb_discount_rate|floatformat:0|intcomma }}%</td>
                                                    <td>
                                                        <button type="button" class="btn btn-outline-danger float-right" id="{{ product.peb_ID }}" onclick="delete_item(this); return false;">Eliminar</button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </form>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end productos en bodega  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- selected products statistics -->
                        <!-- ============================================================== -->
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Precios de venta por producto (últimos 30 días)</h5>
                                <div class="card-body p-0">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">Precio</th>
                                                <th class="border-0">Cantidad vendida</th>
                                            </tr>
                                        </thead>
                                        <tbody id="product_details">
                                            <tr class="border-0">
                                                <th class="border-0">Haz click en un producto para ver el cuántos fueron vendidos y a qué precio.</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end selected products statistics  -->
                        <!-- ============================================================== -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
<script type="text/javascript">
    // Event listener for number input
    const numInputs = document.querySelectorAll('input[type=number]');
    numInputs.forEach(function(input) {
        input.addEventListener('change', function(e) {
            if (e.target.value == '') {
                e.target.value = 0;
            }
            if (e.target.value < 0) {
                e.target.value = 0;
            }
            save_product_changes();
        })
    });
    function search_missing_product() {
        var product_faltante = [];
        var dict = {};
        {% for product_faltante in ProductosAprobados_missing %}
            dict = {
                id: "{{ product_faltante.pa_ID }}",
                product: "{{ product_faltante.pa_product }}"
            };
            product_faltante.push(dict);
            console.log("{{ product_faltante.pa_ID }}");
            console.log("{{ product_faltante.pa_product }}");
        {% endfor %}
        console.log(product_faltante);
        search_words = document.getElementById("search-box").value
        console.log(search_words);
        var reg_ex = new RegExp('^(.*?(' + search_words + ')[^$]*)$', 'i')
        console.log(reg_ex);
    };
    function save_product_changes() {
        if ($("#products_to_update").validate().form()) {
            regular_price = document.getElementsByName("regular_price");
            discount_price = document.getElementsByName("discount_price");
            discount_status = document.getElementsByName("discount_status");
            peb_status = document.getElementsByName("peb_status");
            
            var dict_changes = [];
            for (i = 0; i < regular_price.length; i++) {
                data = {
                    key:                String(regular_price[i].id),
                    regular_price:      regular_price[i].value, 
                    discount_price:     discount_price[i].value,
                    discount_status:    discount_status[i].checked,
                    peb_status:         peb_status[i].checked
                }
                dict_changes.push(data);
            };
            let product_changes = JSON.stringify(dict_changes);

            $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                //url: "/dashboard/save_product_changes",
                url: "/dashboard/productos",
                type: "POST",
                dataType: "json",
                data: {
                    changes: product_changes
                },
                success: function(){
                    //location.reload();
                    ;
                },
                error: function(){
                    //location.reload();
                    ;
                }
            });
        } else {
            alert("Verifique los datos ingresados");
        };
    };
    function add_new_products() {
        if ($("#products_to_add").validate().form()) {
            item_to_add = document.getElementsByName("item_to_add");
            var dict_to_add = [];
            for (i = 0; i < item_to_add.length; i++) {
                if (item_to_add[i].checked == true) {
                    data = {
                        key: String(item_to_add[i].id),
                    }
                    dict_to_add.push(data);
                } else {}
            };
            let product_additions = JSON.stringify(dict_to_add);

            $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                //url: "/dashboard/save_product_changes",
                url: "/dashboard/productos",
                type: "POST",
                dataType: "json",
                data: {
                    additions: product_additions
                },
                success: function(){
                    location.reload();
                },
                error: function(){
                    location.reload();
                }
            });
        } else {
            alert("Verifique los datos ingresados");
        };
    };
    function delete_item(item_to_delete) {
        $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: "/dashboard/remove_product",
                type: "POST",
                dataType: "json",
                data: {
                    key: item_to_delete.id
                },
                success: function(){
                    product_rows = document.getElementsByName("product_row");
                    for (i = 0; i < product_rows.length; i++) {
                        if (product_rows[i].id == item_to_delete.id) {
                            var row_to_delete = product_rows[i];
                            break;
                        } else {}
                    };
                    row_to_delete.remove();
                },
                error: function(){
                    location.reload();
                }
            }
        );
    };
    function see_sales_detail(product_detail) {
        $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: "/dashboard/see_sales_detail",
                type: "POST",
                dataType: "json",
                data: {
                    product_id: product_detail.id,
                    bodega_id: "{{ bodega.bd_ID }}"
                },
                success: function(response) {
                    var details = JSON.parse(response.success);
                    $("#product_details").html('');
                    for (i = 0; i < details.length; i++) {
                        $("#product_details").append('<tr class="border-0"><th class="border-0">S/.'+ parseFloat(details[i][0]).toFixed(2) +'</th><th class="border-0">'+ parseFloat(details[i][1]) +'</th>)</tr>');
                    };
                },
                error: function(){
                    location.reload();
                }
            }
        );
    };
    function peb_status_change(input) {        
        if(input.checked == true) {
            $(input).parent().html('<input type="checkbox" name="peb_status" id="'+input.id+'" class="form-check-input" checked style="position:relative;" onclick="peb_status_change(this)"/><span class="badge-dot badge-success mr-1"></span>Sí');
        } else {
            $(input).parent().html('<input type="checkbox" name="peb_status" id="'+input.id+'" class="form-check-input" style="position:relative;" onclick="peb_status_change(this)"/><span class="badge-dot badge-danger mr-1"></span>No');
        }
        save_product_changes();
    }
    function discount_status_change(input) {        
        if(input.checked == true) {
            $(input).parent().html('<input type="checkbox" name="discount_status" id="'+input.id+'" class="form-check-input" checked style="position:relative;" onclick="discount_status_change(this)"/><span class="badge-dot badge-success mr-1"></span>Sí');
        } else {
            $(input).parent().html('<input type="checkbox" name="discount_status" id="'+input.id+'" class="form-check-input" style="position:relative;" onclick="discount_status_change(this)"/><span class="badge-dot badge-danger mr-1"></span>No');
        }
        save_product_changes();
    }
</script>

<!-- Latest Blog Section End -->
<!-- Js Plugins -->
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script> <!-- NEEDED FOR JQUERY -->
<script src="{% static 'main/js/jquery.validate.min.js' %}"></script> <!-- NEEDED FOR VALIDATING FORMS -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
{% endblock %}
