{% extends 'main/d-header.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<!-- Page Preloder -->
<!--
<div id="preloder">
    <div class="loader"></div>
</div>
-->
<!-- Header Section Begin -->
<header class="header-section">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" style="font-weight: bold;color: black; background: #feb100;border-radius: 0rem;place-content: center;" href="/dashboard">Tablero</a>
        <a class="nav-item nav-link" style="font-weight: bold;color: black; background: #feb100;border-radius: 0rem;place-content: center;" href="/dashboard/productos">Productos</a>
        <!--<a class="nav-item nav-link active" style="border-radius: 0rem;place-content: center;" href="/dashboard/pedidos">Pedidos</a>-->
        <a class="nav-item nav-link active" style="border-radius: 0rem;place-content: center;" href="/dashboard/pedidos">Tutorial</a>
        <a class="nav-item nav-link" style="font-weight: bold;color: black; background: #feb100;border-radius: 0rem;place-content: center;" href="/dashboard/mibodega">Mi bodega</a>
        <a class="nav-item nav-link" style="font-weight: bold;color: black; background: #feb100;border-radius: 0rem;place-content: center;" href="../">Alimentos.pe</a>
        <a class="nav-item nav-link" style="font-weight: bold;color: black; background: #feb100;border-radius: 0rem;place-content: center;" href="../logout">Salir</a>
    </nav>
</header>
<!-- Header End -->

<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Hola {{ cliente.cl_first_name }} {{ cliente.cl_last_name }}.</h2>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h4>Recomendamos usar de navegador Chrome, Firefox, o Edge.</h4>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <style>
                .youtube-responsive-container {
                    position:relative;
                    padding-bottom:56.25%;
                    padding-top:30px;
                    height:0;
                    overflow:hidden;
                }
                .youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                }
            </style>
            <div class="youtube-responsive-container">
                <iframe width="560" height="315" style="min-width: 30vw; min-height: 30vh;" src="https://www.youtube.com/embed/n_6QUSjSOCs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> <!-- header hero image -->
        </div>
    </div>
</div>
<script>
</script>

<!-- Latest Blog Section End -->
<!-- Js Plugins -->
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script> <!-- NEEDED FOR JQUERY -->
<script src="{% static 'main/js/jquery.validate.min.js' %}"></script> <!-- NEEDED FOR VALIDATING FORMS -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!--<script src="{% static 'main/js/jquery.slimscroll.js' %}"></script>-->
<!--<script src="{% static 'main/js/main-js.js' %}"></script>-->
<!--<script src="{% static 'main/js/Chart.bundle.min.js' %}"></script>--> <!-- NEEDED FOR DRAWING CHARTS -->
<!--<script src="{% static 'main/js/Chart.js' %}"></script>--> <!-- NEEDED FOR DRAWING CHARTS -->
<!--<script src="{% static 'main/js/jquery.slicknav.js' %}"></script>--> <!-- NEEDED FOR MOBILE NAVIGATION HEADER -->
<!--<script src="{% static 'main/js/dashboard-ecommerce.js' %}"></script>--> <!-- NEEDED FOR CURRENT SITE RENDERING -->
<!--<script src="{% static 'main/js/main.js' %}"></script>-->
<!--<script src="{% static 'main/js/dasboard_product.js' %}"></script>-->
{% endblock %}
