{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Alimentos.pe - La bodega de tu cuadra ahora vende online. Encuentrala en www.alimentos.pe">
    <meta name="keywords" content="Alimentos.pe, Tienda, Alimentos, Tienda online, bodega online, simple, online, comprar, shopping, descuentos, descuento, Alimentos, Comida, delivery, barato, económico, fresco">
	<meta name="viewport" content = "minimum-scale=1.0, width=device-width, initial-scale=1.0, user-scalable=no" >
	<meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Alimentos.pe</title>

	<!-- Google Font -->
	<!--<link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">-->
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<!--<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>-->

	<!-- Leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	<style>#mapid { height: 380px; }</style>
	<script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script> <!--CHECK IF NEEDED-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
	

	<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>--> <!--CHECK IF NEEDED-->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
	
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>--> <!--CHECK IF NEEDED-->
	
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>-->
	
	
	<!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'main/css/materialize.min.css' %}" type="text/css">
    <!--<link rel="stylesheet" href="{% static 'main/css/themify-icons.css' %}" type="text/css">-->
    <!--<link rel="stylesheet" href="{% static 'main/css/elegant-icons.css' %}" type="text/css">-->
    <!--<link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}" type="text/css">-->
    <!--<link rel="stylesheet" href="{% static 'main/css/nice-select.css' %}" type="text/css">-->
    <!--<link rel="stylesheet" href="{% static 'main/css/jquery-ui.min.css' %}" type="text/css">-->
    <!--<link rel="stylesheet" href="{% static 'main/css/slicknav.min.css' %}" type="text/css">-->
	<!--<link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css">-->

	<!-- JS Scripts -->
	<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
	
	<!-- NEW LOCAL ADDITIONS -->
	<!--<link rel="stylesheet" href="{% static 'main/js/bootstrap.min.js.map' %}" type="text/css">-->
	<link rel="stylesheet" href="{% static 'main/css/leaflet.awesome.rotate.css' %}" type="text/css"> <!--CHECK IF NEEDED-->
	<link rel="stylesheet" href="{% static 'main/css/bootstrap-theme.min.css' %}" type="text/css"> <!--CHECK IF NEEDED-->
    	
	<!-- ICONS (i.e. in the browser tab)-->
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<!-- Icon/Tile for windows 8-->
	<meta name="application-name" content="Alimentos.pe">
	
	<!--Schema is used to markup my web page and email messages-->
	<script type="application/ld+json">
		{
		   "@context": "http://schema.org",
		   "@type": "WebSite",
		   "url": "https://www.alimentos.pe/",
		   "potentialAction": {
			 "@type": "SearchAction",
			 "target": "https://www.alimentos.pe/search?query={search_term_string}",
			 "query-input": "required name=search_term_string"
		   }
		}
	</script>
	<!--BreadcrumbList is an ItemList consisting of a chain of linked Web pages (current page)-->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [{
				"@type": "ListItem",
				"position": 1,
				"item": {
					"@id": "https://www.alimentos.pe/",
					"name": "Alimentos.pe"
				}
			}]
		}
	</script>
</head>
<body>
	<nav class="nav-extended" style="background-color:#3fcc01 !important;color:#000000">
		{% include 'main/includes/navbaritems-top.html' %}

		{% include 'main/includes/messages.html' %}

		{% include 'main/includes/navbaritems-mid.html' %}
	</nav>

	

    {% block content %}
    {% endblock %}

    <footer class="footer-section">
        {% include 'main/includes/footer.html' %}
    </footer>
</body>

</html>
