{% extends 'main/header.html' %}
{% load static %}


{% block content %}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <!-- MIDDLE BAR -->
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <!-- <a href="./index.html"> -->
                            <img src="{% static 'main/img/logo.png' %}" alt="">
                        <!-- </a> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="advanced-search">
                        <form action="#" class="input-group">
                            <input type="text" placeholder="Producto">
                            <button type="button"><i class="ti-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 text-right col-md-4">
                    <div class="row">
                        <!-- SHOP SELECTION BEGIN -->
                        {% include 'main/includes/shop_selection.html' %}
                        <!-- SHOP SELECTION END -->

                        <!-- SHOPPING CART -->
                        {% include 'main/includes/shopping_cart.html' %}
                        <!-- SHOPPING CART -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BOTTOM BAR-->
    <div class="nav-item">
        <div class="container">
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/embutidos">Embutidos</a></li>
                    <li><a href="/vegetales">Vegetales</a>
                    <li class="active"><a href="/lacteos">Lácteos</a></li>
                    <li><a href="/abarrotes">Abarrotes</a></li>
                    <li><a href="/limpieza">Limpieza</a></li>
                    <li><a href="/licores">Licores</a>
                    </li>
                </ul>
            </nav>
            <!-- Mobile version-->
           <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <!-- Brand filter section begin -->
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Marca</h4>
                    <div class="fw-brand-check">
                        {% for brand in brands %}
                        <div class="bc-item">
                            <label for="bc-calvin">
                                {{ brand }}
                                <input type="checkbox" id="bc-calvin">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Brand filter section end -->

            <!-- Search result area begin -->
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="select-option">
                                <select class="sorting">
                                    <option value="">Orden</option>
                                </select>
                                <!--<select class="p-show">
                                    <option value="">Show:</option>
                                </select>-->
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 text-right">
                            <p>{{result_count}} productos disponibles</p>
                        </div>
                    </div>
                </div>

                <div class="product-list">
                    <!-- First item-->
                    {% load humanize %}
                    <div class="infinite-container">
                    <div class="row">
                    {% for product in results %}
                        <div class="col-lg-3 col-sm-4">
                            <div class="product-item">
                                <div class="pi-pic infinite-item">
                                    <img src="{{STATIC_URL}}main/img/{{product.peb_product.pa_category}}/{{product.peb_product.pa_photo_small}}" alt="IMG">
                                    {% if product.peb_discount_status == True %}
                                        <div class="sale pp-sale">{{ product.peb_discount_rate|floatformat:0|intcomma }} %</div>
                                    {% endif %}
                                    <ul>
                                        <form method='POST' action='{% url "main:cart_add" %}'> {% csrf_token %}
                                            <input type="hidden" name='product_id' value='{{product.pk}}'>
                                            <li class="quick-view"><input type='submit' value='Añadir a la cesta'></li>
                                        </form>        
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">{{product.peb_product.pa_category}}</div>
                                    <a href="#">
                                        <h5>{{product.peb_product.pa_product}}</h5>
                                    </a>
                                    {% if product.peb_discount_status == True %}
                                    <div class="product-price">
                                        S/.{{product.peb_discount_price|floatformat:2|intcomma}}
                                        <span>S/.{{product.peb_regular_price|floatformat:2|intcomma}}</span>
                                    </div>
                                    {% else %}
                                    <div class="product-price">
                                        S/.{{product.peb_regular_price|floatformat:2|intcomma}}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    </div>
                    {% if results.has_next %}
                        <a class="infinite-more-link" href="?page={{ results.next_page_number }}">Siguiente</a>
                    {% endif %}
                </div>

                <div class="loading-more">
                    <!--<i class="icon_loading"></i>
                    <a href="#">
                        Loading More
                    </a>-->
                </div>
            </div>
            <!-- Search result area end -->
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<!-- BENEFICIOS -->
<section class="latest-blog spad">
    <div class="container">
        <div class="benefit-items">
            <div class="row">
                <div class="col-lg-4" align="center">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="{% static 'main/img/icon-1.png' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Envío económico</h6>
                            <p>Es la bodega de la cuadra.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" align="center">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="{% static 'main/img/icon-2.png' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Rápido envío</h6>
                            <p>El bodeguero es tu vecino.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" align="center">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="{% static 'main/img/icon-3.png' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>100% pago seguro</h6>
                            <p>En efectivo a <b>contraentrega.</b><br>Próximamente con tarjeta via web.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->
<!-- Js Plugins -->
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'main/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'main/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'main/js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'main/js/jquery.dd.min.js' %}"></script>
<script src="{% static 'main/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
<!-- Infinite scroll -->
<script src="{% static 'main/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'main/js/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>
{% endblock %}
