{% extends 'main/header.html' %}
{% load static %}

{% block content %}
<!-- We are gonna accept information from the users (POST)-->

<!-- BREADCRUMB -->
<div class="breacrumb-section">
    <div class="container" style="margin-top: 10px;">
        <div class="breadcrumb-text">
            <a href="/"><i class="material-icons" style="margin-top: 10px;">home</i><span>Inicio</span></a>
            <span> / Email enviado</span>            
        </div>
    </div>
</div>
<!-- BREADCRUMB END -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Email enviado</h2>
                    <h4>Revise su correo y siga las instrucciones para reestablecer su contraseña.</h4>

                    <div class="switch-login">
                        <h6><a href="/registro" class="or-login">o regístrese</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->

{% endblock %}