{% extends 'main/header.html' %}
{% load static %}

{% block content %}
<!-- We are gonna accept information from the users (POST)-->
<!-- Page Preloder -->


<!-- BREADCRUMB -->
<div class="breacrumb-section">
    <div class="container" style="margin-top: 10px;">
        <div class="breadcrumb-text">
            <a href="/"><i class="material-icons" style="margin-top: 10px;">home</i><span>Inicio</span></a>
            <span> / Reestablecer contraseña</span>            
        </div>
    </div>
</div>
<!-- BREADCRUMB END -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Escriba una nueva contraseña</h2>
                    <style>
                        label{
                            font-size: 1.5rem !important;
                            color: black !important;
                        }
                    </style>
                    <form method="POST" id="reset_password_form">
                        {% csrf_token %}
                        {{ form.as_table }}
                        <button type="button" class="btn waves-effect waves-light" style="background-color:#feb100;color:#000000;font-weight:bold;" onclick="submit_register(); return false">Reestablecer contraseña</button>
                    </form>
                    <div class="switch-login">
                        <h6><a href="/login" class="or-login">o inicie sesión</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->

<!-- START TOAST -->
<div>
    <div class="toast" id="password_mismatch" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 2;background-color: red;position: fixed; top:16%; right: 5%;">
        <div class="toast-header">
            <strong class="mr-auto">Las contraseñas no coinciden</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="toast" id="password_too_short" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 2;background-color: red;position: fixed; top:22%; right: 5%;">
        <div class="toast-header">
            <strong class="mr-auto">La contraseña es muy corta</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<!-- END TOAST -->

<script>
    function submit_register() {
        // Verify that new_password1 and password2 are the same
        var valid = true;
        password_1 = document.getElementById('id_new_password1');
        password_2 = document.getElementById('id_new_password2');
        if (password_1.value != password_2.value) {
            valid = false;
            $("#password_mismatch").show();
            $('#password_mismatch').toast({delay: 3000});
            $('#password_mismatch').toast('show');
            $("input[name=new_password1]").css('border-color', 'red');
            $("input[name=new_password2]").css('border-color', 'red');
        } else {$("input[name=new_password1]").css('border-color', '#ced4da');$("input[name=new_password2]").css('border-color', '#ced4da');};
        if (password_1.value.length < 8) {
            valid = false;
            $("#password_too_short").show();
            $('#password_too_short').toast({delay: 3000});
            $('#password_too_short').toast('show');
            $("input[name=new_password1]").css('border-color', 'red');
            $("input[name=new_password2]").css('border-color', 'red');
        } else {$("input[name=new_password1]").css('border-color', '#ced4da');$("input[name=new_password2]").css('border-color', '#ced4da');};
        // If all previous validations are true, submit form
        if (valid == true){document.getElementById("reset_password_form").submit();}
    };
</script>
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'main/js/materialize.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>

<script>
    // Hide toasts on page load
    function on_pageload() {
        $('#password_mismatch').hide();
        $('#password_too_short').hide();
    };
    on_pageload();
</script>
{% endblock %}