{% extends 'main/header.html' %}
{% load static %}

{% block content %}
<!-- We are gonna accept information from the users (POST)-->
<!-- Page Preloder -->


<!-- BREADCRUMB -->
<div class="breacrumb-section">
    <div class="container" style="margin-top: 10px;">
        <div class="breadcrumb-text">
            <a href="/"><i class="material-icons" style="margin-top: 10px;">home</i><span>Inicio</span></a>
            <span> / ¿Olvidó la contraseña?</span>            
        </div>
    </div>
</div>
<!-- BREADCRUMB END -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Recupere su contraseña</h2>
                    <style>
                        label{
                            font-size: 1.5rem !important;
                            color: black !important;
                        }
                    </style>
                    <form method="POST" id="reset_password_form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="button" class="btn waves-effect waves-light" style="background-color:#feb100;color:#000000;font-weight:bold;" onclick="submit_register(); return false">Recuperar contraseña</button>
                    </form>
                    <div class="switch-login">
                        <h6><a href="/login" class="or-login">o inicie sesión</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->

<!-- START TOAST -->
<!-- END TOAST -->

<script>
    function submit_register() {
        // Verify that new_password1 and password2 are the same
        var valid = true;
        
        // If all previous validations are true, submit form
        if (valid == true){document.getElementById("change_password_form").submit();}
    };
</script>
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'main/js/materialize.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>

<script>
    // Hide toasts on page load
    function on_pageload() {
        //
    };
    on_pageload();
</script>
{% endblock %}