{% extends 'main/header.html' %}
{% load static %}

{% block content %}
<!-- Check if order has already been paid -->
<script>
    console.log("{{ order_obj.ord_paid }}");
    if ("{{ order_obj.ord_paid }}" == "True") {
        window.location.href = '/payment/'+"{{ order_obj.ord_ID }}";
    }
</script>

<!-- BREADCRUMB -->
<div class="breacrumb-section">
    <div class="container" style="margin-top: 10px;">
        <div class="breadcrumb-text">
            <a href="/"><i class="material-icons" style="margin-top: 10px;">home</i><span>Inicio</span></a>
            <span> / Pedido #{{ order_obj.ord_ID|stringformat:"08d" }}</span>            
        </div>
    </div>
</div>
<!-- BREADCRUMB END -->

<!-- Pay Section Begin -->
{% load humanize %}
<div class="row">
    <div class="col s12">
        <h4>Indique cómo va a pagar</h4>
        <h4>Estamos preparando su pedido</h4>
    </div>
</div>
<!-- Maximo payment method -->
<form id="maximo-widget" action="" method="POST" publicKey="vmUdeLg6pRfmPSBnKaMggA6cDE4NhGI1NjLV" amount="{{ order_obj.ord_total_price|floatformat:2|intcomma }}" currency="PEN" order_number="{{ order_obj.ord_ID }}">
</form>
<script src="https://maximo-widget.s3.amazonaws.com/widget.js"></script>
<script>
    function run() {
        window.Maximo.run({callbackMethod:(ev)=>{
            if (ev.event == "maximo-finish"){
                //console.log('Laika_event: ' + ev.event);
                //console.log('Laika_token: ' + ev.token);
                validate_payment(ev.token);
            }
        }})
    };
    function validate_payment(token) {
        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "/validate_payment",
            type: "POST",
            dataType: "json",
            data:   {
                        'token': token,
                        'order_id': "{{ order_obj.ord_ID }}"
                    },
            success: function(){
                //console.log("El exito!");
                window.location.href = '/payment/'+"{{ order_obj.ord_ID }}";
            },
            error: function(){
                alert("Hello! I am an alert box!!");
            }
        });
    };
</script>
<!--
<div class="row">
    <div class="col s4">
        <a onclick="run()" class="waves-effect waves-green btn-flat" style="background-color: #feb100;">Pagar con tarjeta</a>
    </div>
</div>
-->
<div class="row">
    <div class="col s6">
        <a onclick="efectivo()" class="waves-effect waves-green btn-flat" style="background-color: #feb100;">Pagar en efectivo</a>
    </div>
    <div class="col s6">
        <a onclick="yape()" class="waves-effect waves-green btn-flat" style="background-color: #feb100;">Pagar con Yape</a>
    </div>
</div>
<script>
    function efectivo(){
        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "/payment_method",
            type: "POST",
            dataType: "json",
            data:   {
                        'payment_method': '1',
                        'order_id': "{{ order_obj.ord_ID }}"
                    },
            success: function(){
                console.log("Cash El exito!");
            },
            error: function(){
                console.log("Cash Keep trying!");
            }
        });
    }
    function yape(){
        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "/payment_method",
            type: "POST",
            dataType: "json",
            data:   {
                        'payment_method': '2',
                        'order_id': "{{ order_obj.ord_ID }}"
                    },
            success: function(){
                console.log("Yape El exito!");
            },
            error: function(){
                console.log("Yape Keep trying!");
            }
        });
    }
</script>
<!-- Pay Form Section End -->

<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'main/js/materialize.min.js' %}"></script>
{% endblock %}