{% extends 'main/header.html' %}
{% load static %}

{% block content %}
<!-- We are gonna accept information from the users (POST)-->

<!-- BREADCRUMB -->
<div class="breacrumb-section">
    <div class="container" style="margin-top: 10px;">
        <div class="breadcrumb-text">
            <a href="/"><i class="material-icons" style="margin-top: 10px;">home</i><span>Inicio</span></a>
            <span> / Bodega</span>            
        </div>
    </div>
</div>
<!-- BREADCRUMB END -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Regístrese</h2>
                    <style>
                        label{
                            font-size: 1.5rem !important;
                            color: black !important;
                        }
                    </style>
                    <form method="POST">
                        {% csrf_token %}
                        {% load widget_tweaks %}
                        <h4>
                            ¿Qué tipo de cuenta requieres?
                        </h4><br>
                        <h6>
                            Una vez completado el registro como bodega, dentro de un plazo de 72 horas nos contactaremos con usted validar su información y activar su cuenta.<br><br> Recuerde que siempre estamos disponibles llamando al número <a href="tel:+51996618936">996618936</a> y en el correo <a href="mailto:hola@alimentos.pe">hola@alimentos.pe</a>
                        </h6><br>
                        <table>
                            <tr>
                                <td style="text-align: center;">
                                    <input class="with-gap" name="group1" type="radio" id="Cliente" onclick="change_account_type(this)" />
                                    <span>Cliente</span>
                                </td>
                                <td style="text-align: center;">
                                    <input class="with-gap" name="group1" type="radio" id="Bodega" onclick="change_account_type(this)" checked />
                                    <span>Bodega</span>
                                </td>
                            </tr>
                        </table>

                        {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <!-- USER FORM -->
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}

                                {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                                {% else %}
                                {% render_field field class="form-control" %}
                                {% endif %}

                                {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <!-- USER FORM -->
                        <!-- CLIENT FORM -->
                        {% for field in cl_form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}

                                {% if cl_form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                                {% else %}
                                {% render_field field class="form-control" %}
                                {% endif %}

                                {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <!-- CLIENT FORM -->
                        <!-- BODEGA FORM -->
                        {% for field in bd_form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if bd_form.is_bound %}
                                    {% if field.errors %}
                                        {% render_field field class="form-control is-invalid" %}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field field class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field field class="form-control" %}
                                {% endif %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <!-- BODEGA FORM -->
                        <!-- TERMS AND CONDITIONS -->
                        <div>
                            <label>
                                <input type="checkbox" class="filled-in" required/>
                                <span>Al registrarme acepto en su totalidad <a class="modal-trigger" data-target="user_agreement">contrato de adhesión</a>.</span>
                            </label>
                        </div>
                        <!-- TERMS AND CONDITIONS -->
                        <button type="submit" class="btn" style="background-color:#feb100;color:black;font-weight:bold;">Registrar</button>
                    </form>
                    <div class="switch-login">
                        <a href="/login" class="or-login">o inicie sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->
<!-- MODAL -->
<div id="user_agreement" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s8" style="flex-basis: auto;">
                <h5>Términos y condiciones</h5>
            </div>
            <div class="col s2" style="flex-basis: auto;">
                <a class="btn-flat" name="close_map" id="close_map" onclick="close_map()" style="background-color:#ffffff;vertical-align: top;">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s12" style="flex-basis: auto;">
                <!--<iframe src="" width="100%" height="300" style="border:none;"></iframe>-->
                <object data="{% static 'main/pdf/contrato-de-adhesion-alimentos.pe.pdf' %}" type="application/pdf">
                    <embed src="{% static 'main/pdf/contrato-de-adhesion-alimentos.pe.pdf' %}" type="application/pdf" />
                </object>
            </div>
        </div>
    </div>
</div>
<!-- MODAL END -->

<script>
    // Function to hide map modal
    function close_map() {
        var elem = document.getElementById('user_agreement');
        var instance = M.Modal.getInstance(elem);
        instance.close();
    }
    // Switch between account creation forms
    function change_account_type(btn_cliente) {
        if (btn_cliente.id == "Bodega") {
            window.location.href = "/bodega"
        } else if (btn_cliente.id == "Cliente") {
            window.location.href = "/registro/"
        } else {
            window.location = "https://www.alimentos.pe";
        }
    }
</script>
{% endblock %}