{% extends 'main/header.html' %}
{% load static %}

{% block content %}
<!-- We are gonna accept information from the users (POST)-->
<!-- Page Preloder -->


<!-- BREADCRUMB -->
<div class="breacrumb-section">
    <div class="container" style="margin-top: 10px;">
        <div class="breadcrumb-text">
            <a href="/"><i class="material-icons" style="margin-top: 10px;">home</i><span>Inicio</span></a>
            <span> / Bodega</span>            
        </div>
    </div>
</div>
<!-- BREADCRUMB END -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Regístrese</h2>
                    <style>
                        label{
                            font-size: 1.5rem !important;
                            color: black !important;
                        }
                    </style>
                    <form method="POST">
                        {% csrf_token %}
                        {% load widget_tweaks %}
                        <h4>
                            ¿Qué tipo de cuenta requieres?
                        </h4><br>
                        <h6>
                            Una vez completado el registro como bodega, dentro de un plazo de 72 horas nos contactaremos con usted validar su información y activar su cuenta.<br><br> Recuerde que siempre estamos disponibles llamando al número <a href="tel:+51996618936">996618936</a> y en el correo <a href="mailto:hola@alimentos.pe">hola@alimentos.pe</a>
                        </h6><br>
                        <table>
                            <tr>
                                <td style="text-align: center;">
                                    <input class="with-gap" name="group1" type="radio" id="Cliente" onclick="change_account_type(this)" />
                                    <span style="font-size:1.5rem;">Cliente</span>
                                </td>
                                <td style="text-align: center;">
                                    <input class="with-gap" name="group1" type="radio" id="Bodega" onclick="change_account_type(this)" checked />
                                    <span style="font-size:1.5rem;">Bodega</span>
                                </td>
                            </tr>
                        </table>

                        {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <!-- USER FORM -->
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}

                                {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                                {% else %}
                                {% render_field field class="form-control" %}
                                {% endif %}

                                {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <!-- USER FORM -->
                        <!-- CLIENT FORM -->
                        {% for field in cl_form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}

                                {% if cl_form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                                {% else %}
                                {% render_field field class="form-control" %}
                                {% endif %}

                                {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <!-- CLIENT FORM -->
                        <!-- BODEGA FORM -->
                        {% for field in bd_form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if bd_form.is_bound %}
                                    {% if field.errors %}
                                        {% render_field field class="form-control is-invalid" %}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field field class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field field class="form-control" %}
                                {% endif %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <!-- BODEGA FORM -->
                        <!-- TERMS AND CONDITIONS -->
                        <div>
                            <label>
                                <input type="checkbox" class="filled-in" required/>
                            </label>
                            <span>Al registrarme acepto en su totalidad los <a class="modal-trigger" data-target="user_agreement" style="color: blue;font-weight: bold;text-decoration: underline;" >Términos y condiciones de uso</a>.</span><!--onclick="open_modal()"-->
                        </div>
                        <!-- TERMS AND CONDITIONS -->
                        <!--<button type="submit" class="btn" style="background-color:#feb100;color:black;font-weight:bold;">Registrar</button>-->
                        <button type="button" class="btn waves-effect waves-light" style="background-color:#feb100;color:#000000;font-weight:bold;" onclick="submit_register(); return false">Registrar</button>
                    </form>
                    <div class="switch-login">
                        <a href="/login" class="or-login">o inicie sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->
<!-- MODAL -->
<div id="user_agreement" class="modal modal-fixed-footer">
    <div class="modal-content" style="padding: 7px 7px 7px 7px;">
        <div class="row">
            <div class="col s10" style="flex-basis: auto;">
                <h5>Términos y condiciones de uso</h5>
            </div>
            <div class="col s2" style="flex-basis: auto;">
                <a class="btn-flat" name="close_modal" id="close_modal" onclick="close_modal()" style="background-color:#ffffff;vertical-align: top;">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
        <div style="width: 100%;height:100%;">
            <iframe src="{% static 'main/pdf/Terminos_y_condiciones_de_uso.pdf' %}" width="100%" height="100%" style="border:none;width:-webkit-fill-available;"></iframe>
            <!--<object data="{% static 'main/pdf/contrato-de-adhesion-alimentos.pe.pdf' %}" type="application/pdf" style="width:-webkit-fill-available;height:100%;">
                <embed src="{% static 'main/pdf/contrato-de-adhesion-alimentos.pe.pdf' %}" type="application/pdf"/>
            </object>-->
        </div>
    </div>
</div>
<!-- MODAL END -->

<!-- START TOAST -->
<div>
    <div class="toast" id="password_mismatch" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999 !important;background-color: red;position: fixed; top:10%; right: 5%;">
        <div class="toast-header">
            <strong class="mr-auto">Las contraseñas no coinciden</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="toast" id="password_too_short" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999 !important;background-color: red;position: fixed; top:16%; right: 5%;">
        <div class="toast-header">
            <strong class="mr-auto">La contraseña es muy corta</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<!-- END TOAST -->

<script>
    // Modal initialization
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.getElementById('user_agreement');
        var instances = M.Modal.init(elems, {});
    });
    // Function to show modal
    function open_modal() {
        var elem = document.getElementById('user_agreement');
        var instance = M.Modal.getInstance(elem);
        instance.open();
    };
    // Function to hide modal
    function close_modal() {
        var elem = document.getElementById('user_agreement');
        var instance = M.Modal.getInstance(elem);
        instance.close();
    };
    // Switch between account creation forms
    function change_account_type(btn_cliente) {
        if (btn_cliente.id == "Bodega") {
            window.location.href = "/bodega"
        } else if (btn_cliente.id == "Cliente") {
            window.location.href = "/registro/"
        } else {
            window.location = "https://www.alimentos.pe";
        }
    };
    function submit_register() {
        // Verify that password1 and password2 are the same
        var valid = true;
        password_1 = document.getElementsByName('password1')[0];
        password_2 = document.getElementsByName('password2')[0];
        if (password_1.value != password_2.value) {
            valid = false;
            $("#password_mismatch").toast({ autohide: true, animation: true, delay: 3000 });
            $("#password_mismatch").toast('show');
            $("input[name=password1]").css('border-color', 'red');
            $("input[name=password2]").css('border-color', 'red');
            //password_1.setCustomValidity('Las contraseñas no coinciden');
            //password_1.reportValidity();
        }
        if (password_1.value.length < 8) {
            valid = false;
            $("#password_too_short").toast({ autohide: true, animation: true, delay: 3000 });
            $("#password_too_short").toast('show');
            $("input[name=password1]").css('border-color', 'red');
            $("input[name=password2]").css('border-color', 'red');
            password_1.setCustomValidity('La es muy corta');
            password_1.reportValidity();
        }
    };
</script>
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'main/js/materialize.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
{% endblock %}