{% extends 'main/header.html' %}
{% load static %}

{% block content %}
<!-- We are gonna accept information from the users (POST)-->
<form method="POST">
    {% csrf_token %} <!-- To avoid tricking a user-->
    {{form.as_p}} <!-- build a form in Django instead of html -->
    <button class="btn btn-primary btn-lg active" type="submit">REGISTRESE</button>
</form>
Si ya tiene una cuenta, <a href="/login"><strong>haga click aquí</strong></a>.

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="/"><i class="fa fa-home"></i>Inicio</a>
                    <span>Registre su bodega</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Registre su bodega</h2>
                    <form action="#">
                        <div class="group-input">
                            <label for="username">Usuario</label>
                            <input type="text" id="username">
                        </div>
                        <div class="group-input">
                            <label for="pass">Contraseña</label>
                            <input type="text" id="pass">
                        </div>
                        <div class="group-input">
                            <label for="con-pass">Confirme su contraseña</label>
                            <input type="text" id="con-pass">
                        </div>
                        <button type="submit" class="site-btn register-btn">Registrar</button>
                    </form>
                    <div class="switch-login">
                        <a href="/login.html" class="or-login">o inicie sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->

{% endblock %}