<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nearby Shops</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
        <style>#mapid { height: 380px; }</style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awlet.awesome-markers.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.jsers.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1>Nearby Shops</h1>
        User: {{user_location.y}}, {{user_location.x}}
        {% if shops %}
        <ul>
            {% for shop in shops %}
            <li>
                {{ shop.bd_name }}: {{ shop.distance }} [{{ shop.bd_geolocation.y }},{{ shop.bd_geolocation.x }}]
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="mapid"></div>
        <script>
            var map = L.map('mapid').setView([ 10, -10], 17);
        
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        
            L.marker([ {{user_location.y}}, {{user_location.x}} ]).addTo(map)
                .bindPopup('Hello')
                .openPopup();
        
            const customMarkerIcon = L.AwesomeMarkers.icon({
                "extraClasses": "fa-rotate-0", 
                "icon": "shopping-cart", 
                "iconColor": "white", 
                "markerColor": "orange", 
                "prefix": "glyphicon"
                    });	
        
            {% for shop in shops %}
            var marker = L.marker([{{ shop.bd_geolocation.y }},{{ shop.bd_geolocation.x }}], {
                icon: customMarkerIcon
            }).addTo(map);
            {% endfor %}
        </script>
    </body>
</html>
    