{% load static %}

<!-- Footer Section Begin -->
<div class="container">
    <div class="row">
        <div class="col s6">
            <a href="https://www.alimentos.pe"><img class="responsive-img" style="max-width:150px;" src="{% static 'main/img/logo.png' %}" alt="LOGO"></a>
        </div>
        <div class="col s6">
            <a href="mailto:hola@alimentos.pe">hola@alimentos.pe</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            Copyright © 2020, <a href="https://wwww.alimentos.pe">Alimentos.pe</a>. Todos los derechos reservados.
        </div>
    </div>
</div>
<!-- Footer Section End -->