{% load static %}

<!-- Footer Section Begin -->
<div class="container">
    <table>
        <tbody>
            <tr style="border-bottom:none;">
                <td style="text-align:center;padding:0;">
                    <img class="responsive-img" style="max-width:150px;" src="{% static 'main/img/logo.png' %}" alt="Logo">
                </td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="text-align:center;padding:0;">
                    <a href="mailto:hola@alimentos.pe">hola@alimentos.pe</a>
                </td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="text-align:center;padding:0;padding-bottom:20px;">
                    Copyright © 2020, <a href="https://wwww.alimentos.pe">Alimentos.pe</a>.<br>Todos los derechos reservados.
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Footer Section End -->