    <!-- MSG BAR -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>
                    function toast_fct() {
                        var toastHTML = '<span>I am toast success</span>';
                        M.toast({html: toastHTML});
                    }
                    window.onload=toast_fct();
                </script>
                <!--<div class="alert alert-success">  
                    <button type="button" class="close" data-dismiss="alert">×</button>  
                    <strong>{{message}}</strong>
                </div>-->
            {% elif message.tags == 'info'%}
                <script>
                    function toast_fct() {
                        var toastHTML = '<span>I am toast success</span>';
                        M.toast({html: toastHTML});
                    }
                    window.onload=toast_fct();
                </script>
                <!--<div class="alert alert-info">  
                    <button type="button" class="close" data-dismiss="alert">×</button>  
                    <strong>{{message}}</strong>
                </div>-->
            {% elif message.tags == 'warning'%}
                <script>
                    function toast_fct() {
                        var toastHTML = '<span>I am toast success</span>';
                        M.toast({html: toastHTML});
                    }
                    window.onload=toast_fct();
                </script>
                <!--<div class="alert alert-warning">  
                    <button type="button" class="close" data-dismiss="alert">×</button>  
                    <strong>{{message}}</strong>
                </div>-->
            {% elif message.tags == 'error'%}
                <script>
                    function toast_fct() {
                        var toastHTML = '<span>I am toast success</span>';
                        M.toast({html: toastHTML});
                    }
                    window.onload=toast_fct();
                </script>
                <!--<div class="alert alert-danger">  
                    <button type="button" class="close" data-dismiss="alert">×</button>  
                    <strong>{{message}}</strong>
                </div>-->
            {% endif %}
        {% endfor %}
    {% endif %}