{% load static %}

    <!-- TOP BAR -->
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    hola@mibodega.pe
                </div>
                <div class="lan-selector"><!--lan-selector-->
                    <select class="language_drop" name="countries" id="countries" style="width:300px;">
                        <option value="yt" data-image="{% static 'main/img/flag-1.jpg' %}" data-imagecss="flag yt"
                            data-title="Peru">Perú</option>
                    </select>
                </div>
            </div>
            <div class="ht-right">
                {% if user.is_authenticated %}
                    <a href="/logout" class="login-panel"><i class="fa fa-user"></i>Salir</a>
                {% else %}
                    <a href="/login" class="login-panel"><i class="fa fa-user"></i>Accede</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="#" class="login-panel"><i class="fa fa-user"></i>{{user.username}}</a>
                {% else %}
                    <a href="/register" class="login-panel"><i class="fa fa-user"></i>Regrístrate</a>
                {% endif %}
            </div>
        </div>
    </div>