{% load static %}

    <!-- MIDDLE BAR MATERIALIZE -->
    <div class="nav-wrapper" style="background-color:#ffffff;">
        <div class="row" style="margin-bottom:0px;">
            <div class="col xl1 l1 m1 s2" style="flex-basis:auto;padding:0px 0px 0px 0px;">
                <a href="#" data-target="slide-out" class="sidenav-trigger" style="color:black"><i class="material-icons">menu</i></a>
            </div>
            <div class="col xl2 l3 m3 hide-on-small-only" style="flex-basis:auto;">
                <a href = "/"><img class="responsive-img" style="max-width:150px;" src="{% static 'main/img/logo.png' %}" alt="LOGO"></a>
            </div>
            <div class="col xl8 l7 m7 s8" style="flex-basis:auto;">
                <form style="Margin: 10px 0px 0px 0px;">
                    <div class="input-field">
                        <form id="search_form" action="/see_search_results" method="GET" value="">
                            <input class="hide-on-small-only" id="search-product" type="search" oninput="search_product(this.value)" placeholder="¿Qué estás buscando?" style="max-width:100%;height:40px;width:calc(100% - 7rem);z-index:10;">
                            <input class="hide-on-med-and-up" id="search-product" type="search" oninput="search_product(this.value)" placeholder="¿Qué estás buscando?" style="max-width:100%;height:40px;width:100%;padding:0px 0px 0px 0px;z-index:10;">
                        </form>
                        <!--<label class="label-icon hide-on-small-only" for="search-product"><i class="material-icons" style="Margin: -7px 0px 0px 0px;">search</i></label>
                        <i class="material-icons hide-on-small-only" style="Margin:-7px 0px 0px 0px;">close</i>-->
                    </div>
                    <div id="search-preloader" style="height:auto;display:none;z-index:10;position:fixed;left:0;right:0;box-sizing:border-box;">
                        <div style="background-color:#ffffff;width:100%;text-align: -webkit-center;">
                            <div class="loader" id="loader_circle"></div>
                            <div>
                                <table id="result_table">
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--<div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Autocomplete</label>
                    </div>-->
                </form>
            </div>
            <div class="col xl1 l1 m1 s2" style="flex-basis:auto;">
                {% include 'main/includes/shop_selection.html' %}
            </div>
        </div>
    </div>

    <script>
    // Function to show search-preloader
    function show_search_preloader() {
        $("#search-preloader").css("display", "block");
        $("#search-preloader").css("opacity", 1);
        $("#loader_circle").show();
    }
    // Function to hide search-preloader
    function close_search_preloader() {
        $("#search-preloader").css("display", "none");
        $("#search-preloader").css("opacity", 0);
    }
    // Perform search-product query
    function search_product(search_text) {
        if (search_text != "" && search_text.length > 2) {
            $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: "/search_query",
                type: "POST",
                dataType: "json",
                data: {
                    search_text: search_text
                },
                beforeSend: function() {
                    show_search_preloader();
                },
                success: function(response){
                    $("#loader_circle").hide();
                    var result_dict = JSON.parse(response.success);
                    $('#result_table').html('');
                    for (i = 0; i < result_dict.length; i++) {
                        $('#result_table').append('<tr><td style="text-align:center;"><img class="responsive-img" style="max-width:50px;" src="'+result_dict[i][1][1]+'" alt="img"></td><td style="text-align:left;"><p style="line-height:1.4;">'+result_dict[i][1][0]+'</p></td><td style="text-align:right;"><b style="font-size:18px;color:#feb100"> S/.'+parseFloat(result_dict[i][1][2]).toFixed(2)+'</b></td><td style="padding: 0px 5px 0px 5px;text-align:right;"><a class="btn" name="cart_add" id="'+result_dict[i][0]+'" onclick="cart_add(this)" style="background-color:#feb100;padding:0px 10px 0px 10px;"><i class="material-icons" style="margin-top:-9px;">add_shopping_cart</i></a></td></tr>');
                    };
                    $('#result_table').append('<tr><td colspan="3" style="text-align:center;"><a class="btn waves-effect waves-light" onclick="see_search_results(\''+search_text+'\')" style="background-color:#feb100 !important;color:#000000;font-weight:bold;">Ver más resultados</a></td><td colspan="1" style="padding: 0px 5px 0px 5px;text-align:right;"><a class="btn waves-effect waves-light red lighten-5" onclick="close_search_preloader()" style="padding:0px 10px 0px 10px;"><i class="material-icons" style="margin-top:-9px;">close</i></a></td></tr>');
                },
                error: function(){
                    $("#loader_circle").hide();
                    location.reload();
                }
            });
        } else {
            close_search_preloader();
        }
    };
    // Redirect to search results
    function see_search_results(search_text) {
        if (search_text != "" && search_text.length > 2) {
            console.log(search_text);
            //document.getElementById('search_form').value = search_text;
            document.getElementById('search_form').submit(); 
            /*
            // Source: https://stackoverflow.com/questions/14873443/sending-an-http-post-using-javascript-triggered-event
            var url = "/see_search_results";
            var method = "GET";
            var postData = new FormData();
            postData.append('search_text', search_text);
            var shouldBeAsync = true;
            var request = new XMLHttpRequest();
            request.onload = function () {
                var status = request.status;
                var data = request.responseText;
            }
            request.open(method, url, shouldBeAsync);
            request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            request.send(postData);
            */

            /*
            $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: "/see_search_results",
                type: "POST",
                dataType: "json",
                data: {
                    search_text: search_text
                },
                
                success: function(){
                    ;
                },
                error: function(){
                    location.reload();
                }
                
            });*/
        } else {
            close_search_preloader();
        }
    };
    </script>