{% load static %}

    <!-- TOP BAR MATERIALIZE -->
    <div class="row teal accent-4" style="margin-bottom:0px;">
        <div class="col s4">hola@alimentos.pe</div>
        <div class="col s3"><img class="responsive-img" src="{% static 'main/img/flag-1.jpg' %}"> Perú</div>
        <div class="col s1 hide-on-small-only"></div>
        {% if user.is_authenticated %}
            <div class="col s2"><a href="/dashboard">{{user.username}}</a></div>
            <div class="col s2"><a href="/logout">Salir</a></div>
        {% else %}
            <div class="col s2"><a href="/registro">Regrístrate</a></div>
            <div class="col s2"><a href="/login">Accede</a></div>
        {% endif %}
    </div>