
        <h3>Seleccione su bodega</h3>
        <input class="input-group mb-3" type="text" id="bodaga_name">
        <input class="input-group mb-3" type="text" id="bodaga_id">
        <div id="mapid"></div>
        <script>
            var map = L.map('mapid').setView([ {{user_location.y}}, {{user_location.x}} ], 14);
        
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        
            const customMarkerIcon = L.AwesomeMarkers.icon({
                "extraClasses": "fa-rotate-0", 
                "icon": "shopping-cart", 
                "iconColor": "white", 
                "markerColor": "orange", 
                "prefix": "glyphicon"
            });	
            
            {% for shop in shops %}
            var marker = L.marker([{{ shop.bd_geolocation.y }},{{ shop.bd_geolocation.x }}], {
                icon: customMarkerIcon
            }).addTo(map)
                .bindPopup( "{{ shop.bd_name }}" )
                .closePopup()
                .on('click', function onClick(shop) {
                    document.getElementById("bodaga_name").value = "{{ shop.bd_name }}";
                    document.getElementById("bodaga_id").value = "{{ shop.bd_ID }}";
                });
            {% endfor %}
        </script>