
        <h3>Seleccione su bodega</h3>
        <input type="text" id="bodaga_name">
        <div id="mapid"></div>
        <script>
            var map = L.map('mapid').setView([ {{user_location.y}}, {{user_location.x}} ], 14);
        
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        
            const customMarkerIcon = L.AwesomeMarkers.icon({
                "extraClasses": "fa-rotate-0", 
                "icon": "shopping-cart", 
                "iconColor": "white", 
                "markerColor": "orange", 
                "prefix": "glyphicon"
                });	
            
            {% for shop in shops %}
            function onMapClick( bd_name ) {
                alert("You clicked the map at " + bd_name );
                document.getElementById("bodaga_name").value = bd_name;
            };
            var marker = L.marker([{{ shop.bd_geolocation.y }},{{ shop.bd_geolocation.x }}], {
                icon: customMarkerIcon
            }).addTo(map)
                .bindPopup( "{{ shop.bd_name }}" )
                .openPopup()
                .on('click', onMapClick( "{{ shop.bd_name }}" ));
            {% endfor %}
        </script>