<div class="col-lg-5 col-md-5 col-sm-3 align-self-center text-right">
    {% if id_bodega_text == "" %}Seleccione su bodega{% else %}{{ id_bodega_text }}{% endif %}
</div>
<div class="col-lg-2 col-md-1 col-sm-1 align-self-center">
    <ul class="nav-right">
        <li class="heart-icon">
            <a href="#">
                <i class="icon_pin_alt" id="select_shop_2" data-toggle="modal" data-target="#exampleModalCenter"></i>
            </a>
        </li>
    </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-left">
            {% include 'main/includes/select_shop.html' %}
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-light" id="anular-seleccion">Anular</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="modal-save">Guardar</button>
        </div>
    </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#exampleModalCenter").on('shown.bs.modal', function () {
            setTimeout(function() {
                map.invalidateSize();
            }, 10);
        });
        $("#modal-save").click(function(){
            $("#exampleModalCenter").modal("hide");
            $('.modal-backdrop').hide();
            $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: "/save_store_location",
                type: "POST",
                dataType: "json",
                data:   {
                            'bodega_name': $('#bodega_name').val(),
                            'id_bodega': $('#bodega_id').val()
                        },
                success: function(response){
                    alert ("resp: "+response);
                }
            });
            $.ajax({
                url: "/embutidos",
                type: "GET",
                success: function(){
                    location.reload();
                }
            });
        });
        $("#anular-seleccion").click(function(){
            $('#bodega_name').val('');
            $('#bodega_id').val('');
        });
    });
</script>