<div class="col-lg-2 col-md-1 col-sm-1 align-self-center">
    <ul class="nav-right">
        <li class="cart-icon"><a href="#">
            <i class="icon_bag_alt"></i>
            <span>{{cart_list|length}}</span>
        </a>
        <div class="cart-hover">
            <div class="select-items">
                <table>
                    <tbody>
                        {% load humanize %}
                        {% for product in cart_list %}
                        <tr>
                            <td class="si-pic"><img src="{{ STATIC_URL }}main/img/{{product.ci_product.peb_product.pa_category}}/{{product.ci_product.peb_product.pa_photo_small}}" alt=""></td>
                            <td class="si-text">
                                <div class="product-selected">
                                    <p>S/. 
                                        {% if product.ci_product.peb_discount_status == True %}{{product.ci_product.peb_discount_price|floatformat:2|intcomma}}{% endif %}
                                        {% if product.ci_product.peb_discount_status == False %}{{product.ci_product.peb_regular_price|floatformat:2|intcomma}}{% endif %}
                                        x {{product.ci_quantity}}</p>
                                    <h6>{{product.ci_product.peb_product.pa_product}}</h6>
                                </div>
                            </td>
                            <form method='POST' action='{% url "main:remove_cart" %}'> {% csrf_token %}
                                <td class="si-close">
                                    <input type="hidden" name='item_pk' value='{{product.pk}}'>
                                    <button type='submit'><i class="ti-close"></i></button>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="select-total">
                <span>total:</span>
                <h5>S/.{{cart_obj.crt_total_price|floatformat:2|intcomma}}</h5>
            </div>
            <div class="select-button">
                <a href="/checkout" class="primary-btn view-card">VER CESTA</a>
                <a href="#" class="primary-btn checkout-btn">PAGAR</a>
            </div>
        </div>
    </li>
    </ul>
</div>

<div class="col-lg-2 col-md-4 col-sm-3 align-self-center">
    <ul class="nav-right">
        <li class="cart-price">S/.{{cart_obj.crt_total_price|floatformat:2|intcomma}}</li>
    </ul>
</div>