
<!-- Pin icon -->
<a class="btn modal-trigger" id="user_location_btn" data-target="user_location_modal" onclick="getLocation()" style="padding:0px 0px 0px 0px;background-color:#ffffff;box-shadow:none;">
    <i class="material-icons" style="Margin:-10px 0px 0px 0px;">place</i>
</a>
<!-- Tap Target Structure -->
<div class="tap-target" id="location_tap_target" data-target="user_location_btn">
    <div class="tap-target-content">
        <h5>Bienvenido a Alimentos.pe</h5>
        <p>Permitenos acceder a tu ubicación para encontrar las mejores ofertas cerca a tí.</p>
    </div>
</div>

<!-- Modal -->
<div id="user_location_modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="col s10" style="flex-basis: auto;">
                <h5>¿Dónde estás?</h5>
            </div>
            <div class="col s2" style="flex-basis: auto;">
                <a class="btn-flat" name="close_map" id="close_map" onclick="close_map()" style="background-color:#ffffff;vertical-align: top;">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
        <!--<br>-->
        {% include 'main/includes/select_shop.html' %}
    </div>
    <div class="modal-footer">
        <a class="btn" onclick="getLocation()" name="buy_btn" id="buy_btn" style="padding:0px 10px 0px 10px;background-color:#feb100;">
            <i class="material-icons" style="Margin:-10px 0px 0px 0px;">location_searching</i>
        </a>
    </div>
</div>
<script>
    // Discovery tap loaded only on the first time
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.getElementById('location_tap_target');
        var instances = M.TapTarget.init(elems, {});
    });
    {% if introduction == True %}
        window.onload = function() {
            var elem = document.getElementById('location_tap_target');
            var instance = M.TapTarget.getInstance(elem);
            instance.open();
        };
    {% endif %}

    // Function to hide map modal
    function close_map() {
        var elem = document.getElementById('user_location_modal');
        var instance = M.Modal.getInstance(elem);
        instance.close();
    }
    // On modal closed event listener
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.getElementById('user_location_modal');
        var instances = M.Modal.init(elems, {onCloseEnd: function() {
            location.reload();
        }});
    });
</script>